Repository CVEProject/cvelist, pull requests merged in 2018-02, with the labels that each got.

#303 IBM20180209
  2017/1xxx/CVE-2017-1761.json
  2018/1xxx/CVE-2018-1368.json
  2018/1xxx/CVE-2018-1401.json
Labels: JSON Valid, Ownership Validated, accepted

#304 4 more public CVEs
  2018/1000xxx/CVE-2018-1000059.json
  2018/1000xxx/CVE-2018-1000060.json
  2018/1000xxx/CVE-2018-1000061.json
  2018/1000xxx/CVE-2018-1000062.json
Labels: JSON Valid, Ownership Validated, accepted

#307 Add github references for patches for 2017 OpenSSL vulnerabilities
  2017/3xxx/CVE-2017-3730.json
  2017/3xxx/CVE-2017-3731.json
  2017/3xxx/CVE-2017-3732.json
  2017/3xxx/CVE-2017-3733.json
  2017/3xxx/CVE-2017-3735.json
  2017/3xxx/CVE-2017-3736.json
  2017/3xxx/CVE-2017-3738.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted, staged

#308 IBM20180213
  2017/1xxx/CVE-2017-1711.json
  2017/1xxx/CVE-2017-1714.json
  2017/1xxx/CVE-2017-1720.json
  2018/1xxx/CVE-2018-1383.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#310 IBM20180214
  2017/1xxx/CVE-2017-1499.json
  2017/1xxx/CVE-2017-1682.json
Labels: JSON Valid, Ownership Validated

#311 Add CVE-2017-18087 CVE-2017-18088 .
  2017/18xxx/CVE-2017-18087.json
  2017/18xxx/CVE-2017-18088.json
Labels: JSON Valid, accepted

#312 more reservations
  2018/1000xxx/CVE-2018-1000067.json
  2018/1000xxx/CVE-2018-1000068.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#314 Quagga rejects, CERT went public first so they win
  2018/1000xxx/CVE-2018-1000063.json
  2018/1000xxx/CVE-2018-1000064.json
  2018/1000xxx/CVE-2018-1000065.json
  2018/1000xxx/CVE-2018-1000066.json
Labels: JSON Valid, Ownership Validated, accepted

#313 Bill Situ <Bill.Situ@gmail.com>
  2017/10xxx/CVE-2017-10271.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#315 jpcert20180216 batch
  2017/2xxx/CVE-2017-2252.json
  2018/0xxx/CVE-2018-0515.json
  2018/0xxx/CVE-2018-0516.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#316 Add CVE-2017-18089 CVE-2017-18090 CVE-2017-18091.
  2017/18xxx/CVE-2017-18089.json
  2017/18xxx/CVE-2017-18090.json
  2017/18xxx/CVE-2017-18091.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#317 Quagga bgpd version 1.2.3
  2018/5xxx/CVE-2018-5378.json
  2018/5xxx/CVE-2018-5379.json
  2018/5xxx/CVE-2018-5380.json
  2018/5xxx/CVE-2018-5381.json
Labels: JSON Valid, Ownership Validated, accepted

#318 IBM20180217
  2018/1xxx/CVE-2018-1409.json
  2018/1xxx/CVE-2018-1410.json
  2018/1xxx/CVE-2018-1411.json
Labels: JSON Valid, Ownership Validated, accepted

#319 Add CVE-2017-18092 CVE-2017-18093 CVE-2017-18095
  2017/18xxx/CVE-2017-18092.json
  2017/18xxx/CVE-2017-18093.json
  2017/18xxx/CVE-2017-18095.json
Labels: JSON Valid, Ownership Validated, accepted

#320 Adding CVE-2018-6487
  2018/6xxx/CVE-2018-6487.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#321 ZDI assigns the following CVEs:
  2018/1xxx/CVE-2018-1164.json
  2018/1xxx/CVE-2018-1165.json
  2018/1xxx/CVE-2018-1166.json
  2018/1xxx/CVE-2018-1168.json
Labels: JSON Valid, Ownership Validated, accepted

#323 IBM20180221
  2017/1xxx/CVE-2017-1462.json
  2017/1xxx/CVE-2017-1604.json
  2017/1xxx/CVE-2017-1758.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#325 IBM20180222
  2017/1xxx/CVE-2017-1758.json
  2018/1xxx/CVE-2018-1391.json
  2018/1xxx/CVE-2018-1392.json
  2018/1xxx/CVE-2018-1414.json
  2018/1xxx/CVE-2018-1415.json
  2018/1xxx/CVE-2018-1417.json
Labels: JSON Valid, Ownership Validated, accepted

#326 Adding CVE-2018-6488
  2018/6xxx/CVE-2018-6488.json
Labels: JSON Valid, accepted

#327 Juniper 2018-02 updates
  2018/0xxx/CVE-2018-0015.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#328 Adding CVE-2018-6489
  2018/6xxx/CVE-2018-6489.json
Labels: JSON Valid, accepted

#329 jpcert20180223 batch
  2018/0xxx/CVE-2018-0518.json
  2018/0xxx/CVE-2018-0519.json
  2018/0xxx/CVE-2018-0520.json
Labels: JSON Valid, Ownership Validated, accepted

#334 IBM20180227
  2018/1xxx/CVE-2018-1372.json
  2018/1xxx/CVE-2018-1399.json
  2018/1xxx/CVE-2018-1416.json
  2018/1xxx/CVE-2018-1425.json
Labels: JSON Valid, Ownership Validated, accepted, staged
