Repository CVEProject/cvelist, pull requests merged in 2018-05, with the labels that each got.

#473 Updated CVE-2018-1000166
  2018/1000xxx/CVE-2018-1000166.json
Labels: JSON Valid, Ownership Validated, accepted

#476 GridServer advisories.
  2017/5xxx/CVE-2017-5535.json
  2017/5xxx/CVE-2017-5536.json
Labels: JSON Valid, Ownership Validated, accepted

#477 IBM20180502
  2017/1xxx/CVE-2017-1255.json
  2017/1xxx/CVE-2017-1601.json
  2018/1xxx/CVE-2018-1468.json
Labels: JSON Valid, Ownership Validated, accepted

#479 IBM20180504
  2017/1xxx/CVE-2017-1743.json
Labels: JSON Valid, Ownership Validated, accepted

#480 IBM20180507
  2018/1xxx/CVE-2018-1413.json
Labels: JSON Valid, Ownership Validated, accepted

#478 Publish 2018-1256
  2018/1xxx/CVE-2018-1256.json
Labels: JSON Valid, Ownership Validated, accepted

#482 Publish CVE-2018-1239, 1247, 1248
  2018/1xxx/CVE-2018-1239.json
  2018/1xxx/CVE-2018-1247.json
  2018/1xxx/CVE-2018-1248.json
Labels: JSON Valid, Ownership Validated, accepted

#487 CVE-2017-2594
  2017/2xxx/CVE-2017-2594.json
Labels: JSON Valid, Ownership Validated, accepted

#488 CVE-2017-2592
  2017/2xxx/CVE-2017-2592.json
Labels: JSON Valid, Ownership Validated, accepted

#489 CVE-2017-2611
  2017/2xxx/CVE-2017-2611.json
Labels: JSON Valid, Ownership Validated, accepted

#481 Add CVE-2018-6510 and CVE-2018-6511
  2018/6xxx/CVE-2018-6510.json
  2018/6xxx/CVE-2018-6511.json
Labels: JSON Valid, Ownership Validated, accepted

#490 CVE-2017-2606
  2017/2xxx/CVE-2017-2606.json
Labels: JSON Valid, Ownership Validated, accepted

#483 Synology-SA-18:03
  2018/8xxx/CVE-2018-8911.json
  2018/8xxx/CVE-2018-8912.json
Labels: JSON Valid, Ownership Validated, accepted

#491 CVE-2018-1089
  2018/1xxx/CVE-2018-1089.json
Labels: JSON Valid, Ownership Validated, accepted

#492 CVE-2018-1130
  2018/1xxx/CVE-2018-1130.json
Labels: JSON Valid, Ownership Validated, accepted

#494 Synology-SA-18:04
  2018/8xxx/CVE-2018-8914.json
Labels: JSON Valid, Ownership Validated, accepted

#495 Synology-SA-18:05
  2018/8xxx/CVE-2018-8910.json
Labels: JSON Valid, Ownership Validated, accepted

#496 Synology-SA-18:06
  2018/8xxx/CVE-2018-8915.json
Labels: JSON Valid, Ownership Validated, accepted

#497 Cve 2018 1115
  2018/1xxx/CVE-2018-1115.json
Labels: JSON Valid, Ownership Validated, accepted

#498 CVE-2018-1118
  2018/1xxx/CVE-2018-1118.json
Labels: JSON Valid, Ownership Validated, accepted

#467 2016-8627
  2016/8xxx/CVE-2016-8627.json
Labels: JSON Valid, Ownership Validated, accepted

#500 add CVE-2017-16860 CVE-2018-5230
  2017/16xxx/CVE-2017-16860.json
  2018/5xxx/CVE-2018-5230.json
Labels: JSON Valid, Ownership Validated, accepted

#501 jpcert20180514 batch
  2018/0xxx/CVE-2018-0568.json
  2018/0xxx/CVE-2018-0576.json
  2018/0xxx/CVE-2018-0577.json
  2018/0xxx/CVE-2018-0578.json
  2018/0xxx/CVE-2018-0579.json
  2018/0xxx/CVE-2018-0580.json
  2018/0xxx/CVE-2018-0581.json
  2018/0xxx/CVE-2018-0582.json
  2018/0xxx/CVE-2018-0583.json
  2018/0xxx/CVE-2018-0585.json
  2018/0xxx/CVE-2018-0586.json
  2018/0xxx/CVE-2018-0587.json
  2018/0xxx/CVE-2018-0588.json
  2018/0xxx/CVE-2018-0589.json
  2018/0xxx/CVE-2018-0590.json
  2018/0xxx/CVE-2018-0591.json
Labels: JSON Valid, Ownership Validated, accepted

#502 CVE-2018-1087
  2018/1xxx/CVE-2018-1087.json
Labels: JSON Valid, Ownership Validated, accepted

#506 CVE-2017-2600
  2017/2xxx/CVE-2017-2600.json
Labels: JSON Valid, Ownership Validated, accepted

#505 CVE-2017-2608
  2017/2xxx/CVE-2017-2608.json
Labels: JSON Valid, Ownership Validated, accepted

#507 CVE-2017-2610
  2017/2xxx/CVE-2017-2610.json
Labels: JSON Valid, Ownership Validated

#508 CVE-2017-2604
  2017/2xxx/CVE-2017-2604.json
Labels: JSON Valid, Ownership Validated, accepted

#510 CVE-2017-2602
  2017/2xxx/CVE-2017-2602.json
Labels: JSON Valid, Ownership Validated, accepted

#509 CVE-2017-2603
  2017/2xxx/CVE-2017-2603.json
Labels: JSON Valid, Ownership Validated, accepted

#511 CVE-2017-2613
  2017/2xxx/CVE-2017-2613.json
Labels: JSON Valid, Ownership Validated, accepted

#512 Add CVE-2018-5231
  2018/5xxx/CVE-2018-5231.json
Labels: JSON Valid, Ownership Validated, accepted

#513 ZDI assigns the following CVEs:
  2018/1xxx/CVE-2018-1172.json
Labels: JSON Valid, Ownership Validated, accepted

#515 CVE-2018-1111
  2018/1xxx/CVE-2018-1111.json
Labels: JSON Valid, Ownership Validated, accepted

#517 IBM20180517
  2018/1xxx/CVE-2018-1433.json
  2018/1xxx/CVE-2018-1434.json
  2018/1xxx/CVE-2018-1438.json
  2018/1xxx/CVE-2018-1461.json
  2018/1xxx/CVE-2018-1462.json
  2018/1xxx/CVE-2018-1463.json
  2018/1xxx/CVE-2018-1464.json
  2018/1xxx/CVE-2018-1465.json
  2018/1xxx/CVE-2018-1466.json
Labels: JSON Valid, Ownership Validated, accepted

#518 CVE-2018-1000400
  2018/1000xxx/CVE-2018-1000400.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#520 CVE-2018-1067
  2018/1xxx/CVE-2018-1067.json
Labels: JSON Valid, Ownership Validated, accepted

#521 Added detail for CVE-2018-7687
  2018/7xxx/CVE-2018-7687.json
Labels: JSON Valid, accepted, staged

#522 CVE-2018-1108
  2018/1xxx/CVE-2018-1108.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#523 CVE-2017-2607
  2017/2xxx/CVE-2017-2607.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#524 IBM20180521
  2018/1xxx/CVE-2018-1583.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#525 CVE-2016-8656
  2016/8xxx/CVE-2016-8656.json
Labels: JSON Valid, Ownership Validated

#526 CVE-2017-2617
  2017/2xxx/CVE-2017-2617.json
Labels: JSON Valid, Ownership Validated, accepted

#527 CVE-2017-2609
  2017/2xxx/CVE-2017-2609.json
Labels: JSON Valid, Ownership Validated, accepted

#528 Adding CVE-2018-6494
  2018/6xxx/CVE-2018-6494.json
Labels: JSON Valid, Ownership Validated, accepted

#529 Adding CVE-2018-6492 and CVE-2018-6493
  2018/6xxx/CVE-2018-6492.json
  2018/6xxx/CVE-2018-6493.json
Labels: JSON Valid, Ownership Validated, accepted

#531 CVE-2017-2598
  2017/2xxx/CVE-2017-2598.json
Labels: JSON Valid, Ownership Validated, accepted

#532 CVE-2018-1126
  2018/1xxx/CVE-2018-1126.json
Labels: JSON Valid, Ownership Validated, accepted

#533 CVE-2018-1125
  2018/1xxx/CVE-2018-1125.json
Labels: JSON Valid, Ownership Validated, accepted

#535 CVE-2018-1123
  2018/1xxx/CVE-2018-1123.json
Labels: JSON Valid, Ownership Validated, accepted

#536 Publish CVE-2018-1193
  2018/1xxx/CVE-2018-1193.json
Labels: JSON Valid, Ownership Validated, accepted

#537 Adding CVE-2018-6495
  2018/6xxx/CVE-2018-6495.json
Labels: JSON Valid, accepted

#538 Public CVEs
  2018/1000xxx/CVE-2018-1000036.json
  2018/1000xxx/CVE-2018-1000037.json
  2018/1000xxx/CVE-2018-1000038.json
  2018/1000xxx/CVE-2018-1000039.json
  2018/1000xxx/CVE-2018-1000040.json
  2018/1000xxx/CVE-2018-1000155.json
  2018/1000xxx/CVE-2018-1000199.json
  2018/1000xxx/CVE-2018-1000300.json
  2018/1000xxx/CVE-2018-1000301.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#539 Update CVE-2017-3961.json
  2017/3xxx/CVE-2017-3961.json
Labels: JSON Valid

#540 Update CVE-2018-6674.json
  2018/6xxx/CVE-2018-6674.json
Labels: JSON Valid, accepted

#541 Update CVE-2018-6664.json
  2018/6xxx/CVE-2018-6664.json
Labels: JSON Valid, accepted

#542 IBM20180524
  2017/1xxx/CVE-2017-1752.json
  2018/1xxx/CVE-2018-1449.json
  2018/1xxx/CVE-2018-1450.json
  2018/1xxx/CVE-2018-1451.json
  2018/1xxx/CVE-2018-1452.json
  2018/1xxx/CVE-2018-1459.json
  2018/1xxx/CVE-2018-1467.json
  2018/1xxx/CVE-2018-1488.json
  2018/1xxx/CVE-2018-1515.json
  2018/1xxx/CVE-2018-1544.json
  2018/1xxx/CVE-2018-1565.json
Labels: JSON Valid, Ownership Validated, accepted

#543 IBM20180528
  2017/1xxx/CVE-2017-1768.json
  2018/1xxx/CVE-2018-1369.json
  2018/1xxx/CVE-2018-1370.json
  2018/1xxx/CVE-2018-1375.json
  2018/1xxx/CVE-2018-1376.json
Labels: JSON Valid, Ownership Validated

#544 CVE-2016-7076
  2016/7xxx/CVE-2016-7076.json
Labels: JSON Valid, Ownership Validated, accepted

#546 Publish CVE-2018-1235,1241,1242
  2018/1xxx/CVE-2018-1235.json
  2018/1xxx/CVE-2018-1241.json
  2018/1xxx/CVE-2018-1242.json
Labels: JSON Valid, Ownership Validated, accepted

#548 CVE-2018-5388 for strongSwan VU#338343
  2018/5xxx/CVE-2018-5388.json
Labels: JSON Valid, Ownership Validated, accepted

#549 Ibm20180531 142727
  2018/1xxx/CVE-2018-1496.json
  2018/1xxx/CVE-2018-1532.json
Labels: JSON Valid, Ownership Validated, accepted

#547 New CVE assignment for CVE-2018-6552 from Canonical
  2018/6xxx/CVE-2018-6552.json
Labels: JSON Valid, Ownership Validated, accepted
