Repository CVEProject/cvelist, pull requests merged in 2018-07, with the labels that each got.

#662 CVE-2018-10874
  2018/10xxx/CVE-2018-10874.json
Labels: JSON Valid, Ownership Validated, accepted

#663 publish CVE-2018-1212, 1243, 1244, 1249
  2018/1xxx/CVE-2018-1212.json
  2018/1xxx/CVE-2018-1243.json
  2018/1xxx/CVE-2018-1244.json
  2018/1xxx/CVE-2018-1249.json
Labels: JSON Valid, Ownership Validated, accepted

#664 CVE-2018-10843
  2018/10xxx/CVE-2018-10843.json
Labels: JSON Valid, Ownership Validated, accepted

#665 CVE-2017-2615
  2017/2xxx/CVE-2017-2615.json
Labels: JSON Valid, Ownership Validated, accepted

#666 CVE-2018-10856
  2018/10xxx/CVE-2018-10856.json
Labels: JSON Valid, Ownership Validated, accepted

#668 CVE-2018-10855
  2018/10xxx/CVE-2018-10855.json
Labels: JSON Valid, Ownership Validated, accepted

#669 CVE-2018-1113
  2018/1xxx/CVE-2018-1113.json
Labels: JSON Valid, Ownership Validated, accepted

#671 Publish CVE-2018-11051, 11052
  2018/11xxx/CVE-2018-11051.json
  2018/11xxx/CVE-2018-11052.json
Labels: JSON Valid, Ownership Validated, accepted

#673 Update CVE-2018-9185.
  2018/9xxx/CVE-2018-9185.json
Labels: JSON Valid, Ownership Validated, accepted

#674 CVE-2018-10885
  2018/10xxx/CVE-2018-10885.json
Labels: JSON Valid, Ownership Validated, accepted

#675 Synology-SA-18:10
  2018/8xxx/CVE-2018-8928.json
Labels: JSON Valid, Ownership Validated, accepted

#676 Synology-SA-18:27
  2017/16xxx/CVE-2017-16773.json
Labels: JSON Valid, Ownership Validated, accepted

#677 Synology-SA-18:19
  2018/8xxx/CVE-2018-8929.json
Labels: JSON Valid, Ownership Validated, accepted

#678 CVE-2017-2665
  2017/2xxx/CVE-2017-2665.json
Labels: JSON Valid, Ownership Validated, accepted

#679 Ibm20180706 83226
  2017/1xxx/CVE-2017-1237.json
  2017/1xxx/CVE-2017-1238.json
  2017/1xxx/CVE-2017-1239.json
  2017/1xxx/CVE-2017-1242.json
  2017/1xxx/CVE-2017-1248.json
  2017/1xxx/CVE-2017-1329.json
  2017/1xxx/CVE-2017-1488.json
  2017/1xxx/CVE-2017-1509.json
  2017/1xxx/CVE-2017-1559.json
  2017/1xxx/CVE-2017-1795.json
  2018/1xxx/CVE-2018-1494.json
  2018/1xxx/CVE-2018-1542.json
  2018/1xxx/CVE-2018-1546.json
  2018/1xxx/CVE-2018-1555.json
  2018/1xxx/CVE-2018-1556.json
  2018/1xxx/CVE-2018-1621.json
  2018/1xxx/CVE-2018-1676.json
Labels: JSON Valid, Ownership Validated, accepted

#680 CVE-2018-10892
  2018/10xxx/CVE-2018-10892.json
Labels: JSON Valid, Ownership Validated, accepted

#682 Ibm20180708 1787
  2018/1xxx/CVE-2018-1548.json
Labels: JSON Valid, Ownership Validated, accepted

#683 Jenkins vulns
  2018/1000xxx/CVE-2018-1000401.json
  2018/1000xxx/CVE-2018-1000402.json
  2018/1000xxx/CVE-2018-1000403.json
  2018/1000xxx/CVE-2018-1000404.json
Labels: JSON Valid, Ownership Validated, accepted

#685 CVE-2017-7471
  2017/7xxx/CVE-2017-7471.json
Labels: JSON Valid, Ownership Validated, accepted

#686 VU#507496
  2017/3xxx/CVE-2017-3197.json
  2017/3xxx/CVE-2017-3198.json
Labels: JSON Valid, Ownership Validated

#688 Add CVE-2018-13388 CVE-2018-13389
  2018/13xxx/CVE-2018-13388.json
  2018/13xxx/CVE-2018-13389.json
Labels: JSON Valid, Ownership Validated, accepted

#689 Ibm20180710 101417
  2018/1xxx/CVE-2018-1407.json
  2018/1xxx/CVE-2018-1408.json
  2018/1xxx/CVE-2018-1521.json
Labels: JSON Valid, Ownership Validated, accepted

#687 Details for CVE-2018-5553
  2018/5xxx/CVE-2018-5553.json
Labels: JSON Valid, Ownership Validated, accepted

#691 Ibm20180710 11627
  2018/1xxx/CVE-2018-1423.json
  2018/1xxx/CVE-2018-1458.json
  2018/1xxx/CVE-2018-1487.json
  2018/1xxx/CVE-2018-1492.json
  2018/1xxx/CVE-2018-1566.json
Labels: JSON Valid, Ownership Validated

#692 CVE-2018-10889
  2018/10xxx/CVE-2018-10889.json
Labels: JSON Valid, Ownership Validated, accepted

#693 CVE-2018-10890
  2018/10xxx/CVE-2018-10890.json
Labels: JSON Valid, Ownership Validated, accepted

#694 CVE-2018-10891
  2018/10xxx/CVE-2018-10891.json
Labels: JSON Valid, Ownership Validated, accepted

#695 CVE-2018-10872
  2018/10xxx/CVE-2018-10872.json
Labels: JSON Valid, Ownership Validated, accepted

#696 CVE-2018-1116
  2018/1xxx/CVE-2018-1116.json
Labels: JSON Valid, Ownership Validated, accepted

#698 CVE-2017-7467
  2017/7xxx/CVE-2017-7467.json
Labels: JSON Valid, Ownership Validated, accepted

#699 CVE-2016-9604
  2016/9xxx/CVE-2016-9604.json
Labels: JSON Valid, Ownership Validated, accepted

#701 Publish CVE-2016-0708, CVE-2018-11045,11049
  2016/0xxx/CVE-2016-0708.json
  2018/11xxx/CVE-2018-11045.json
  2018/11xxx/CVE-2018-11049.json
Labels: JSON Valid, Ownership Validated, accepted

#702 CVE-2018-10895
  2018/10xxx/CVE-2018-10895.json
Labels: JSON Valid, Ownership Validated, accepted

#703 CVE-2018-12540
  2018/12xxx/CVE-2018-12540.json
Labels: JSON Valid, Ownership Validated, accepted

#705 Adding CVE-2018-12463
  2018/12xxx/CVE-2018-12463.json
Labels: JSON Valid, Ownership Validated, accepted

#707 Publish CVE-2018-1245,1255
  2018/1xxx/CVE-2018-1245.json
  2018/1xxx/CVE-2018-1255.json
Labels: JSON Valid, Ownership Validated, accepted

#708 CVE-2018-10875
  2018/10xxx/CVE-2018-10875.json
Labels: JSON Valid, Ownership Validated, accepted

#709 Add CVE-2018-13387 CVE-2018-5229
  2018/13xxx/CVE-2018-13387.json
  2018/5xxx/CVE-2018-5229.json
Labels: JSON Valid, Ownership Validated, accepted

#710 CVE-2017-2638
  2017/2xxx/CVE-2017-2638.json
Labels: JSON Valid, Ownership Validated, accepted

#711 CVE-2017-7468
  2017/7xxx/CVE-2017-7468.json
Labels: JSON Valid, Ownership Validated, accepted

#712 CVE-2018-10859
  2018/10xxx/CVE-2018-10859.json
Labels: JSON Valid, Ownership Validated, accepted

#713 CVE-2018-10886
  2018/10xxx/CVE-2018-10886.json
Labels: JSON Valid, Ownership Validated, accepted

#714 CVE-2018-10857
  2018/10xxx/CVE-2018-10857.json
Labels: JSON Valid, Ownership Validated, accepted

#715 CVE-2018-10840
  2018/10xxx/CVE-2018-10840.json
Labels: JSON Valid, Ownership Validated, accepted

#717 CVE-2017-15137
  2017/15xxx/CVE-2017-15137.json
Labels: JSON Valid, Ownership Validated, accepted

#719 Update CVE-2018-6681.json
  2018/6xxx/CVE-2018-6681.json
Labels: JSON Valid, Ownership Validated, accepted

#720 Ibm20180717 92350
  2018/1xxx/CVE-2018-1612.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#721 Updated description for CVE-2018-1000049
  2018/1000xxx/CVE-2018-1000049.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#723 CVE-2018-10871
  2018/10xxx/CVE-2018-10871.json
Labels: JSON Valid, Ownership Validated, accepted

#724 Add CVE-2017-18103 CVE-2018-5232
  2017/18xxx/CVE-2017-18103.json
  2018/5xxx/CVE-2018-5232.json
Labels: JSON Valid, Ownership Validated, accepted

#725 For httpd 2.3.34 update
  2018/1xxx/CVE-2018-1333.json
  2018/8xxx/CVE-2018-8011.json
Labels: JSON Valid, Ownership Validated, accepted

#726 CVE-2018-10877
  2018/10xxx/CVE-2018-10877.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#728 CVE-2016-9574
  2016/9xxx/CVE-2016-9574.json
Labels: JSON Valid, Ownership Validated, accepted

#729 CVE-2017-2673
  2017/2xxx/CVE-2017-2673.json
Labels: JSON Valid, Ownership Validated, accepted

#730 CVE-2017-7481
  2017/7xxx/CVE-2017-7481.json
Labels: JSON Valid, Ownership Validated, accepted

#731 Ibm20180719 82725
  2018/1xxx/CVE-2018-1529.json
  2018/1xxx/CVE-2018-1535.json
  2018/1xxx/CVE-2018-1536.json
  2018/1xxx/CVE-2018-1585.json
  2018/1xxx/CVE-2018-1587.json
Labels: JSON Valid, Ownership Validated, accepted

#732 CVE-2018-10869
  2018/10xxx/CVE-2018-10869.json
Labels: JSON Valid, Ownership Validated, accepted

#733 CVE-2018-10870
  2018/10xxx/CVE-2018-10870.json
Labels: JSON Valid, Ownership Validated

#736 Ibm20180720 84327
  2017/1xxx/CVE-2017-1544.json
  2017/1xxx/CVE-2017-1575.json
  2017/1xxx/CVE-2017-1633.json
  2018/1xxx/CVE-2018-1398.json
  2018/1xxx/CVE-2018-1470.json
  2018/1xxx/CVE-2018-1563.json
  2018/1xxx/CVE-2018-1564.json
  2018/1xxx/CVE-2018-1679.json
Labels: JSON Valid, Ownership Validated, accepted

#737 Update CVE-2018-6677.json
  2018/6xxx/CVE-2018-6677.json
Labels: JSON Valid, Ownership Validated, accepted

#746 Ibm20180722 161622
  2018/1xxx/CVE-2018-1503.json
  2018/1xxx/CVE-2018-1513.json
Labels: JSON Valid, Ownership Validated, accepted

#747 CVE-2018-6683
  2018/6xxx/CVE-2018-6683.json
Labels: JSON Valid, Ownership Validated, accepted

#743 more cves
  2018/1999xxx/CVE-2018-1999022.json
  2018/1999xxx/CVE-2018-1999023.json
  2018/1999xxx/CVE-2018-1999024.json
Labels: JSON Valid, Ownership Validated, accepted

#745 Adding recent CVEs for Atlassian.
  2017/18xxx/CVE-2017-18103.json
  2018/13xxx/CVE-2018-13385.json
  2018/13xxx/CVE-2018-13386.json
  2018/5xxx/CVE-2018-5232.json
Labels: JSON Valid, Ownership Validated, accepted

#752 Add CVE-2017-18104
  2017/18xxx/CVE-2017-18104.json
Labels: JSON Valid, Ownership Validated, accepted

#753 Publish CVE-2018-11044,47,59,60
  2018/11xxx/CVE-2018-11044.json
  2018/11xxx/CVE-2018-11047.json
  2018/11xxx/CVE-2018-11059.json
  2018/11xxx/CVE-2018-11060.json
Labels: JSON Valid, Ownership Validated, accepted

#754 CVE-2018-10906
  2018/10xxx/CVE-2018-10906.json
Labels: JSON Valid, Ownership Validated, accepted

#738 CVE-2018-10880
  2018/10xxx/CVE-2018-10880.json
Labels: JSON Valid, Ownership Validated, accepted

#744 manual import of SNYK since they tried to commit to master (and I acc…
  2018/1002xxx/CVE-2018-1002200.json
  2018/1002xxx/CVE-2018-1002201.json
  2018/1002xxx/CVE-2018-1002202.json
  2018/1002xxx/CVE-2018-1002203.json
  2018/1002xxx/CVE-2018-1002204.json
  2018/1002xxx/CVE-2018-1002205.json
  2018/1002xxx/CVE-2018-1002206.json
  2018/1002xxx/CVE-2018-1002207.json
  2018/1002xxx/CVE-2018-1002208.json
  2018/1002xxx/CVE-2018-1002209.json
Labels: JSON Valid, Ownership Validated, accepted

#735 CVE-2017-2637
  2017/2xxx/CVE-2017-2637.json
Labels: JSON Valid, Ownership Validated, accepted

#756 Bill Situ <Bill.Situ@Oracle.com>
  2018/2xxx/CVE-2018-2938.json
Labels: JSON Valid, Ownership Validated, accepted

#758 CVE-2017-7526.json
  2017/7xxx/CVE-2017-7526.json
Labels: JSON Valid, Ownership Validated, accepted

#760 CVE-2017-7535.json
  2017/7xxx/CVE-2017-7535.json
Labels: JSON Valid, Ownership Validated, accepted

#763 CVE-2017-7530.json
  2017/7xxx/CVE-2017-7530.json
Labels: JSON Valid, Ownership Validated, accepted

#764 CVE-2017-2664.json
  2017/2xxx/CVE-2017-2664.json
Labels: JSON Valid, Ownership Validated, accepted

#761 CVE-2017-7539.json
  2017/7xxx/CVE-2017-7539.json
Labels: JSON Valid, Ownership Validated, accepted

#765 CVE-2017-7543.json
  2017/7xxx/CVE-2017-7543.json
Labels: JSON Valid, Ownership Validated, accepted

#766 CVE-2017-7558.json
  2017/7xxx/CVE-2017-7558.json
Labels: JSON Valid, Ownership Validated, accepted

#767 CVE-2017-7562.json
  2017/7xxx/CVE-2017-7562.json
Labels: JSON Valid, Ownership Validated, accepted

#770 CVE-2017-7545.json
  2017/7xxx/CVE-2017-7545.json
Labels: JSON Valid, Ownership Validated, accepted

#739 CVE-2018-10900
  2018/10xxx/CVE-2018-10900.json
Labels: JSON Valid, Ownership Validated, accepted

#771 CVE-2017-2589
  2017/2xxx/CVE-2017-2589.json
Labels: JSON Valid, Ownership Validated, accepted

#768 CVE-2017-7509.json
  2017/7xxx/CVE-2017-7509.json
Labels: JSON Valid, Ownership Validated, accepted

#774 CVE-2017-12164.json
  2017/12xxx/CVE-2017-12164.json
Labels: JSON Valid, Ownership Validated, accepted

#775 CVE-2017-12163.json
  2017/12xxx/CVE-2017-12163.json
Labels: JSON Valid, Ownership Validated, accepted

#772 CVE-2017-2582.json
  2017/2xxx/CVE-2017-2582.json
Labels: JSON Valid, Ownership Validated, accepted

#778 CVE-2017-12175.json
  2017/12xxx/CVE-2017-12175.json
Labels: JSON Valid, Ownership Validated, accepted

#779 CVE-2017-12171.json
  2017/12xxx/CVE-2017-12171.json
Labels: JSON Valid, Ownership Validated, accepted

#780 CVE-2018-10901
  2018/10xxx/CVE-2018-10901.json
Labels: JSON Valid, Ownership Validated, accepted

#776 CVE-2017-12150.json
  2017/12xxx/CVE-2017-12150.json
Labels: JSON Valid, Ownership Validated, accepted

#781 CVE-2018-10876
  2018/10xxx/CVE-2018-10876.json
Labels: JSON Valid, Ownership Validated, accepted

#782 CVE-2018-10878
  2018/10xxx/CVE-2018-10878.json
Labels: JSON Valid, Ownership Validated, accepted

#783 CVE-2018-10879
  2018/10xxx/CVE-2018-10879.json
Labels: JSON Valid, Ownership Validated, accepted

#784 CVE-2018-10881
  2018/10xxx/CVE-2018-10881.json
Labels: JSON Valid, Ownership Validated, accepted

#734 CVE-2017-7464
  2017/7xxx/CVE-2017-7464.json
Labels: JSON Valid, Ownership Validated, accepted

#777 CVE-2017-12151.json
  2017/12xxx/CVE-2017-12151.json
Labels: JSON Valid, Ownership Validated, accepted

#785 Update CVE-2018-6686.json
  2018/6xxx/CVE-2018-6686.json
Labels: JSON Valid, Ownership Validated, accepted

#787 CVE-2017-7470
  2017/7xxx/CVE-2017-7470.json
Labels: JSON Valid, Ownership Validated, accepted

#789 CVE-2017-2622
  2017/2xxx/CVE-2017-2622.json
Labels: JSON Valid, Ownership Validated, accepted

#795 CVE-2017-2666
  2017/2xxx/CVE-2017-2666.json
Labels: JSON Valid, Ownership Validated, accepted

#798 CVE-2018-10862
  2018/10xxx/CVE-2018-10862.json
Labels: JSON Valid, Ownership Validated, accepted

#792 CVE-2017-7497
  2017/7xxx/CVE-2017-7497.json
Labels: JSON Valid, Ownership Validated, accepted

#793 CVE-2017-2670
  2017/2xxx/CVE-2017-2670.json
Labels: JSON Valid, Ownership Validated, accepted

#794 CVE-2017-2595
  2017/2xxx/CVE-2017-2595.json
Labels: JSON Valid, Ownership Validated, accepted

#806 CVE-2017-15120.json
  2017/15xxx/CVE-2017-15120.json
Labels: JSON Valid, Ownership Validated, accepted

#807 CVE-2017-12165.json
  2017/12xxx/CVE-2017-12165.json
Labels: JSON Valid, Ownership Validated, accepted

#808 CVE-2017-12195.json
  2017/12xxx/CVE-2017-12195.json
Labels: JSON Valid, Ownership Validated, accepted

#809 CVE-2017-15125.json
  2017/15xxx/CVE-2017-15125.json
Labels: JSON Valid, Ownership Validated, accepted

#799 CVE-2017-12173
  2017/12xxx/CVE-2017-12173.json
Labels: JSON Valid, Ownership Validated, accepted

#800 CVE-2017-12148.json
  2017/12xxx/CVE-2017-12148.json
Labels: JSON Valid, Ownership Validated, accepted

#801 CVE-2017-15113.json
  2017/15xxx/CVE-2017-15113.json
Labels: JSON Valid, Ownership Validated, accepted

#802 CVE-2017-15119.json
  2017/15xxx/CVE-2017-15119.json
Labels: JSON Valid, Ownership Validated, accepted

#811 CVE-2016-9595.json
  2016/9xxx/CVE-2016-9595.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#812 CVE-2017-2580.json
  2017/2xxx/CVE-2017-2580.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#813 CVE-2017-2586.json
  2017/2xxx/CVE-2017-2586.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#814 CVE-2017-2581.json
  2017/2xxx/CVE-2017-2581.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#815 CVE-2017-2579.json
  2017/2xxx/CVE-2017-2579.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#816 CVE-2017-2587.json
  2017/2xxx/CVE-2017-2587.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#817 CVE-2017-2614.json
  2017/2xxx/CVE-2017-2614.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#818 CVE-2017-2674.json
  2017/2xxx/CVE-2017-2674.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#819 CVE-2017-7463.json
  2017/7xxx/CVE-2017-7463.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#830 CVE-2017-2624.json
  2017/2xxx/CVE-2017-2624.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#831 CVE-2017-2625.json
  2017/2xxx/CVE-2017-2625.json
Labels: JSON Valid, accepted, staged

#832 CVE-2017-2590.json
  2017/2xxx/CVE-2017-2590.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#833 CVE-2017-2623.json
  2017/2xxx/CVE-2017-2623.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#834 CVE-2017-2640.json
  2017/2xxx/CVE-2017-2640.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#835 CVE-2017-2646.json
  2017/2xxx/CVE-2017-2646.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#836 CVE-2017-2653.json
  2017/2xxx/CVE-2017-2653.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#837 CVE-2017-2658.json
  2017/2xxx/CVE-2017-2658.json
Labels: JSON Valid, accepted, staged

#838 CVE-2017-2651.json
  2017/2xxx/CVE-2017-2651.json
Labels: JSON Valid, accepted, staged

#810 CVE-2018-1056.json
  2018/1xxx/CVE-2018-1056.json
Labels: JSON Valid, Ownership Validated, accepted

#845 CVE-2018-10882
  2018/10xxx/CVE-2018-10882.json
Labels: JSON Valid, Ownership Validated, accepted

#820 CVE-2017-2621.json
  2017/2xxx/CVE-2017-2621.json
Labels: JSON Valid, Ownership Validated, accepted

#821 CVE-2017-2630.json
  2017/2xxx/CVE-2017-2630.json
Labels: JSON Valid, Ownership Validated, accepted

#822 CVE-2017-2618.json
  2017/2xxx/CVE-2017-2618.json
Labels: JSON Valid, Ownership Validated, accepted

#823 CVE-2017-2620.json
  2017/2xxx/CVE-2017-2620.json
Labels: JSON Valid, Ownership Validated, accepted

#826 CVE-2017-2633.json
  2017/2xxx/CVE-2017-2633.json
Labels: JSON Valid, Ownership Validated, accepted

#827 CVE-2017-2634.json
  2017/2xxx/CVE-2017-2634.json
Labels: JSON Valid, Ownership Validated, accepted

#828 CVE-2017-2632.json
  2017/2xxx/CVE-2017-2632.json
Labels: JSON Valid, Ownership Validated, accepted

#829 CVE-2017-2626.json
  2017/2xxx/CVE-2017-2626.json
Labels: JSON Valid, Ownership Validated, accepted

#841 CVE-2016-9577.json
  2016/9xxx/CVE-2016-9577.json
Labels: JSON Valid, Ownership Validated, accepted

#840 CVE-2017-2663.json
  2017/2xxx/CVE-2017-2663.json
Labels: JSON Valid, Ownership Validated, accepted

#805 CVE-2017-15097.json
  2017/15xxx/CVE-2017-15097.json
Labels: JSON Valid, Ownership Validated, accepted

#804 CVE-2017-15101.json
  2017/15xxx/CVE-2017-15101.json
Labels: JSON Valid, Ownership Validated, accepted

#803 CVE-2017-15118.json
  2017/15xxx/CVE-2017-15118.json
Labels: JSON Valid, Ownership Validated, accepted

#843 CVE-2016-9578.json
  2016/9xxx/CVE-2016-9578.json
Labels: JSON Valid, Ownership Validated, accepted

#844 CVE-2016-9603.json
  2016/9xxx/CVE-2016-9603.json
Labels: JSON Valid, Ownership Validated, accepted

#846 Synology-SA-18:39
  2018/13xxx/CVE-2018-13280.json
Labels: JSON Valid, Ownership Validated, accepted

#791 CVE-2017-7514
  2017/7xxx/CVE-2017-7514.json
Labels: JSON Valid, Ownership Validated, accepted

#842 CVE-2016-9597.json
  2016/9xxx/CVE-2016-9597.json
Labels: JSON Valid, accepted
