Repository CVEProject/cvelist, pull requests merged in 2018-04, with the labels that each got.

#388 Update CVE-2018-6660 #2.json
  2018/6xxx/CVE-2018-6660.json
Labels: JSON Valid, Ownership Validated, accepted

#389 Update CVE-2018-6661 #3.json
  2018/6xxx/CVE-2018-6661.json
Labels: JSON Valid, Ownership Validated, accepted

#387 Update CVE-2018-6659 #2.json
  2018/6xxx/CVE-2018-6659.json
Labels: JSON Valid, Ownership Validated, accepted

#390 Update CVE-2017-4028.json
  2017/4xxx/CVE-2017-4028.json
Labels: JSON Valid, Ownership Validated, accepted

#399 Add CVE-2017-18096
  2017/18xxx/CVE-2017-18096.json
Labels: JSON Valid, Ownership Validated, accepted

#392 Update CVE-2017-3971.json
  2017/3xxx/CVE-2017-3971.json
Labels: JSON Valid, Ownership Validated, accepted

#393 Update CVE-2017-3969.json
  2017/3xxx/CVE-2017-3969.json
Labels: JSON Valid, Ownership Validated, accepted

#395 Update CVE-2017-3966.json
  2017/3xxx/CVE-2017-3966.json
Labels: JSON Valid, Ownership Validated, accepted

#396 Update CVE-2017-3965.json
  2017/3xxx/CVE-2017-3965.json
Labels: JSON Valid, Ownership Validated, accepted

#397 Update CVE-2017-3964.json
  2017/3xxx/CVE-2017-3964.json
Labels: JSON Valid, Ownership Validated, accepted

#400 Added CVE-2018-9205
  2018/9xxx/CVE-2018-9205.json
Labels: JSON Valid, Ownership Validated, accepted

#402 CVE-2018-1002150 public
  2018/1002xxx/CVE-2018-1002150.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#403 Update CVE-2017-3965.json
  2017/3xxx/CVE-2017-3965.json
Labels: JSON Valid, Ownership Validated, accepted

#405 CVE-2018-1000154
  2018/1000xxx/CVE-2018-1000154.json
Labels: JSON Valid, Ownership Validated, accepted

#406 CVE-2018-1000155 reserved
  2018/1000xxx/CVE-2018-1000155.json
Labels: JSON Valid, Ownership Validated, accepted

#407 CVE-2018-1270,71,72
  2018/1xxx/CVE-2018-1270.json
  2018/1xxx/CVE-2018-1271.json
  2018/1xxx/CVE-2018-1272.json
Labels: JSON Valid, Ownership Validated, accepted

#408 CVE-2018-1000156
  2018/1000xxx/CVE-2018-1000156.json
Labels: JSON Valid, Ownership Validated, accepted

#409 Add CVE-2017-18097 CVE-2017-18098
  2017/18xxx/CVE-2017-18097.json
  2017/18xxx/CVE-2017-18098.json
Labels: JSON Valid, Ownership Validated, accepted

#410 jpcert20180406 batch
  2018/0xxx/CVE-2018-0545.json
  2018/0xxx/CVE-2018-0553.json
  2018/0xxx/CVE-2018-0554.json
  2018/0xxx/CVE-2018-0555.json
  2018/0xxx/CVE-2018-0556.json
Labels: JSON Valid, Ownership Validated, accepted

#413 CVE-2018-1000168 reserved
  2018/1000xxx/CVE-2018-1000168.json
Labels: JSON Valid, Ownership Validated

#417 Add publication information for CVE-2016-9645
  2016/9xxx/CVE-2016-9645.json
Labels: JSON Valid

#418 Publish CVE-2018-1273, 1275
  2018/1xxx/CVE-2018-1273.json
  2018/1xxx/CVE-2018-1275.json
Labels: JSON Valid, Ownership Validated, accepted

#420 IBM20180412
  2017/1xxx/CVE-2017-1790.json
Labels: JSON Valid, Ownership Validated

#421 CVE-2018-1086
  2018/1xxx/CVE-2018-1086.json
Labels: JSON Valid, Ownership Validated

#423 CVE-2018-1084
  2018/1xxx/CVE-2018-1084.json
Labels: JSON Valid, Ownership Validated, accepted

#429 CVE-2016-9592
  2016/9xxx/CVE-2016-9592.json
Labels: JSON Valid, Ownership Validated, accepted

#430 CVE-2016-9593
  2016/9xxx/CVE-2016-9593.json
Labels: JSON Valid, Ownership Validated, accepted

#432 Add CVE details for CVE-2018-0737
  2018/0xxx/CVE-2018-0737.json
Labels: JSON Valid, Ownership Validated, accepted

#434 Add CVE-2017-18102
  2017/18xxx/CVE-2017-18102.json
Labels: JSON Valid, Ownership Validated, accepted

#436 CVE-2018-1000199 reserved
  2018/1000xxx/CVE-2018-1000199.json
Labels: JSON Valid, Ownership Validated, accepted

#437 TIBCO JasperReports Library and Server vulnerabilities.
  2018/5xxx/CVE-2018-5429.json
  2018/5xxx/CVE-2018-5430.json
  2018/5xxx/CVE-2018-5431.json
Labels: JSON Valid, Ownership Validated, accepted

#440 CVE-2018-1000200
  2018/1000xxx/CVE-2018-1000200.json
Labels: JSON Valid, Ownership Validated, accepted

#442 ZDI assigns the following CVEs:
  2018/1xxx/CVE-2018-1167.json
Labels: JSON Valid, Ownership Validated, accepted

#444 IBM20180423
  2017/1xxx/CVE-2017-1473.json
  2017/1xxx/CVE-2017-1486.json
  2017/1xxx/CVE-2017-1701.json
  2017/1xxx/CVE-2017-1764.json
  2017/1xxx/CVE-2017-1786.json
Labels: JSON Valid, Ownership Validated, accepted

#445 Adding CVE-2018-6491
  2018/6xxx/CVE-2018-6491.json
Labels: JSON Valid, Ownership Validated, accepted

#449 CVE-2016-9599
  2016/9xxx/CVE-2016-9599.json
Labels: JSON Valid, Ownership Validated, accepted

#451 add CVE-2018-5228
  2018/5xxx/CVE-2018-5228.json
Labels: JSON Valid, Ownership Validated, accepted

#450 Claim CVE-2017-7651 for Eclipse Mosquitto
  2017/7xxx/CVE-2017-7651.json
Labels: JSON Valid, Ownership Validated

#453 IBM20180424
  2017/1xxx/CVE-2017-1700.json
  2017/1xxx/CVE-2017-1725.json
  2017/1xxx/CVE-2017-1734.json
Labels: JSON Valid, Ownership Validated, accepted

#454 Cve 2016 9587
  2016/9xxx/CVE-2016-9587.json
Labels: JSON Valid, Ownership Validated, accepted

#455 Cve 2018 1112
  2018/1xxx/CVE-2018-1112.json
Labels: JSON Valid, Ownership Validated, accepted

#456 Claim CVE-2017-7652 for Eclipse Mosquitto
  2017/7xxx/CVE-2017-7652.json
Labels: JSON Valid, Ownership Validated, accepted

#457 IBM20180425
  2017/1xxx/CVE-2017-1750.json
  2018/1xxx/CVE-2018-1363.json
Labels: JSON Valid, Ownership Validated, accepted

#459 Committer: Bill Situ <Bill.Situ@Oracle.com>
  2018/2xxx/CVE-2018-2765.json
  2018/2xxx/CVE-2018-2840.json
Labels: JSON Valid

#460 IBM20180426
  2017/1xxx/CVE-2017-1721.json
  2017/1xxx/CVE-2017-1722.json
  2017/1xxx/CVE-2017-1723.json
  2017/1xxx/CVE-2017-1724.json
  2018/1xxx/CVE-2018-1418.json
Labels: JSON Valid, Ownership Validated, accepted

#461 CVE-2018-1074
  2018/1xxx/CVE-2018-1074.json
Labels: JSON Valid, Ownership Validated, accepted

#462 CVE-2016-9590
  2016/9xxx/CVE-2016-9590.json
Labels: JSON Valid, Ownership Validated, accepted

#464 edit CVE-2016-9601
  2016/9xxx/CVE-2016-9601.json
Labels: JSON Valid, Ownership Validated

#465 IBM20180427
  2017/1xxx/CVE-2017-1116.json
  2018/1xxx/CVE-2018-1471.json
  2018/1xxx/CVE-2018-1473.json
  2018/1xxx/CVE-2018-1475.json
  2018/1xxx/CVE-2018-1479.json
Labels: JSON Valid, Ownership Validated, accepted

#468 CVE-2017-2591
  2017/2xxx/CVE-2017-2591.json
Labels: JSON Valid, Ownership Validated, accepted

#469 IBM20180430
  2018/1xxx/CVE-2018-1389.json
  2018/1xxx/CVE-2018-1430.json
Labels: JSON Valid, Ownership Validated, accepted

#470 CVE-2018-1183, CVE-2018-1227
  2018/1xxx/CVE-2018-1183.json
  2018/1xxx/CVE-2018-1277.json
Labels: JSON Valid, Ownership Validated, accepted

#471 CVE-2018-1000172
  2018/1000xxx/CVE-2018-1000172.json
Labels: JSON Valid, Ownership Validated
