Repository CVEProject/cvelist, pull requests merged in 2018-09, with the labels that each got.

#992 CVE-2018-14627
  2018/14xxx/CVE-2018-14627.json
Labels: JSON Valid, Ownership Validated, accepted

#994 jpcert20180903 batch
  2018/0xxx/CVE-2018-0646.json
  2018/0xxx/CVE-2018-0656.json
  2018/0xxx/CVE-2018-0664.json
  2018/0xxx/CVE-2018-0672.json
  2018/0xxx/CVE-2018-0674.json
  2018/0xxx/CVE-2018-0675.json
Labels: JSON Valid, Ownership Validated, accepted

#995 CVE-2018-10904.json
  2018/10xxx/CVE-2018-10904.json
Labels: JSON Valid, Ownership Validated, accepted

#996 CVE-2018-10907.json
  2018/10xxx/CVE-2018-10907.json
Labels: JSON Valid, Ownership Validated, accepted

#997 CVE-2018-10911.json
  2018/10xxx/CVE-2018-10911.json
Labels: JSON Valid, Ownership Validated, accepted

#999 CVE-2018-10914.json
  2018/10xxx/CVE-2018-10914.json
Labels: JSON Valid, Ownership Validated, accepted

#1000 CVE-2018-10923.json
  2018/10xxx/CVE-2018-10923.json
Labels: JSON Valid, Ownership Validated, accepted

#1001 CVE-2018-10924.json
  2018/10xxx/CVE-2018-10924.json
Labels: JSON Valid, Ownership Validated, accepted

#1004 CVE-2018-10928.json
  2018/10xxx/CVE-2018-10928.json
Labels: JSON Valid, Ownership Validated, accepted

#1007 Publish CVE-2018-11262 from qualcomm product secutity
  2018/11xxx/CVE-2018-11262.json
Labels: JSON Valid, Ownership Validated, accepted

#1010 CVE-2018-6554 and CVE-2018-6555
  2018/6xxx/CVE-2018-6554.json
  2018/6xxx/CVE-2018-6555.json
Labels: JSON Valid, Ownership Validated, accepted

#1011 Bill Situ <Bill.Situ@oracle.com>
  2018/11xxx/CVE-2018-11776.json
Labels: JSON Valid, accepted

#1013 CVE-2018-14618
  2018/14xxx/CVE-2018-14618.json
Labels: JSON Valid, Ownership Validated, accepted

#1014 CVE-2015-9266
  2015/CVE-2015-9266.json
Labels: JSON Valid, accepted

#1015 the wordpress vulnerabilities reported in the news
  2017/1000xxx/CVE-2017-1000600.json
  2018/1000xxx/CVE-2018-1000673.json
Labels: JSON Valid, Ownership Validated, accepted

#1016 CVE-2018-14632.json
  2018/14xxx/CVE-2018-14632.json
Labels: JSON Valid, Ownership Validated, accepted

#988 CVE-2018-14624
  2018/14xxx/CVE-2018-14624.json
Labels: JSON Valid, Ownership Validated, accepted

#1017 Publish CVE-2018-11263 from Qualcomm product security team
  2018/11xxx/CVE-2018-11263.json
Labels: JSON Valid, Ownership Validated, accepted

#1018 Ibm20180906 92716
  2018/1xxx/CVE-2018-1695.json
Labels: accepted

#1021 Okular CVE, corrected
  2018/1000xxx/CVE-2018-1000801.json
Labels: JSON Valid, Ownership Validated, accepted

#1022 CVE-2018-1000671
  2018/1000xxx/CVE-2018-1000671.json
Labels: JSON Valid, Ownership Validated, accepted

#1023 KOHA library fixed
  2018/1000xxx/CVE-2018-1000669.json
  2018/1000xxx/CVE-2018-1000670.json
Labels: JSON Valid, Ownership Validated, accepted

#1024 CVE-2018-5389 & CVE-2018-5391
  2018/5xxx/CVE-2018-5389.json
  2018/5xxx/CVE-2018-5391.json
Labels: JSON Valid, Ownership Validated, accepted

#1025 jpcert20180907 batch
  2018/0xxx/CVE-2018-0623.json
  2018/0xxx/CVE-2018-0624.json
  2018/0xxx/CVE-2018-0642.json
  2018/0xxx/CVE-2018-0643.json
  2018/0xxx/CVE-2018-0644.json
  2018/0xxx/CVE-2018-0645.json
  2018/0xxx/CVE-2018-0647.json
  2018/0xxx/CVE-2018-0648.json
  2018/0xxx/CVE-2018-0649.json
  2018/0xxx/CVE-2018-0650.json
  2018/0xxx/CVE-2018-0652.json
  2018/0xxx/CVE-2018-0653.json
  2018/0xxx/CVE-2018-0654.json
  2018/0xxx/CVE-2018-0655.json
  2018/0xxx/CVE-2018-0657.json
  2018/0xxx/CVE-2018-0658.json
  2018/0xxx/CVE-2018-0659.json
  2018/0xxx/CVE-2018-0660.json
  2018/0xxx/CVE-2018-0661.json
  2018/0xxx/CVE-2018-0662.json
  2018/0xxx/CVE-2018-0663.json
Labels: JSON Valid, Ownership Validated, accepted

#1026 Ibm20180907 104632
  2017/1xxx/CVE-2017-1114.json
  2017/1xxx/CVE-2017-1115.json
  2018/1xxx/CVE-2018-1567.json
  2018/1xxx/CVE-2018-1756.json
  2018/1xxx/CVE-2018-1757.json
  2018/1xxx/CVE-2018-1789.json
Labels: accepted

#1027 CVE-2018-14625
  2018/14xxx/CVE-2018-14625.json
Labels: JSON Valid, Ownership Validated, accepted

#1028 Bill Situ <Bill.Situ@oracle.com>
  2018/2xxx/CVE-2018-2943.json
Labels: JSON Valid, Ownership Validated, accepted

#1030 CVE-2016-7075.json
  2016/7xxx/CVE-2016-7075.json
Labels: JSON Valid, Ownership Validated, accepted

#1031 CVE-2016-7067.json
  2016/7xxx/CVE-2016-7067.json
Labels: JSON Valid, Ownership Validated, accepted

#1032 CVE-2016-7077.json
  2016/7xxx/CVE-2016-7077.json
Labels: JSON Valid, Ownership Validated, accepted

#1034 CVE-2016-7071.json
  2016/7xxx/CVE-2016-7071.json
Labels: JSON Valid, Ownership Validated, accepted

#1035 CVE-2016-7035.json
  2016/7xxx/CVE-2016-7035.json
Labels: JSON Valid, Ownership Validated, accepted

#1036 CVE-2016-7061.json
  2016/7xxx/CVE-2016-7061.json
Labels: JSON Valid, Ownership Validated, accepted

#1037 CVE-2016-7041.json
  2016/7xxx/CVE-2016-7041.json
Labels: JSON Valid, Ownership Validated, accepted

#1038 CVE-2016-7056.json
  2016/7xxx/CVE-2016-7056.json
Labels: JSON Valid, Ownership Validated, accepted

#1039 CVE-2016-7072.json
  2016/7xxx/CVE-2016-7072.json
Labels: JSON Valid, Ownership Validated, accepted

#1040 added additional git commits for the same issue, also reference posti…
  2018/16xxx/CVE-2018-16802.json
Labels: JSON Valid, accepted

#1041 CVE-2018-14635
  2018/14xxx/CVE-2018-14635.json
Labels: JSON Valid, Ownership Validated, accepted

#1042 CVE-2018-14636
  2018/14xxx/CVE-2018-14636.json
Labels: JSON Valid, Ownership Validated, accepted

#1043 CVE-2018-14620
  2018/14xxx/CVE-2018-14620.json
Labels: JSON Valid, Ownership Validated, accepted

#1044 Ibm20180911 6638
  2018/1xxx/CVE-2018-1571.json
Labels: accepted

#1045 CVE-2016-7074.json
  2016/7xxx/CVE-2016-7074.json
Labels: JSON Valid, Ownership Validated, accepted

#1046 CVE-2016-7068.json
  2016/7xxx/CVE-2016-7068.json
Labels: JSON Valid, Ownership Validated, accepted

#1048 CVE-2016-7070.json
  2016/7xxx/CVE-2016-7070.json
Labels: JSON Valid, Ownership Validated, accepted

#1049 CVE-2016-7047.json
  2016/7xxx/CVE-2016-7047.json
Labels: JSON Valid, Ownership Validated, accepted

#1050 CVE-2016-7069.json
  2016/7xxx/CVE-2016-7069.json
Labels: JSON Valid, Ownership Validated, accepted

#1051 CVE-2016-0750.json
  2016/0xxx/CVE-2016-0750.json
Labels: JSON Valid, Ownership Validated, accepted

#1053 CVE-2018-10853.json
  2018/10xxx/CVE-2018-10853.json
Labels: JSON Valid, Ownership Validated

#1055 CVE-2018-10935.json
  2018/10xxx/CVE-2018-10935.json
Labels: JSON Valid, Ownership Validated, accepted

#1056 CVE-2018-1127.json
  2018/1xxx/CVE-2018-1127.json
Labels: JSON Valid, Ownership Validated, accepted

#1057 CVE-2018-1114.json
  2018/1xxx/CVE-2018-1114.json
Labels: JSON Valid, Ownership Validated, accepted

#1058 CVE-2018-10893.json
  2018/10xxx/CVE-2018-10893.json
Labels: JSON Valid, Ownership Validated, accepted

#1054 CVE-2018-10937.json
  2018/10xxx/CVE-2018-10937.json
Labels: JSON Valid, Ownership Validated, accepted

#1061 Ibm20180912 92347
  2018/1xxx/CVE-2018-1773.json
Labels: JSON Valid, Ownership Validated, accepted

#1060 CVE-2018-15610 update from Avaya CNA
  .gitignore
Labels: JSON Valid, Ownership Validated, accepted

#1062 Ibm20180913 101336
  2018/1xxx/CVE-2018-1698.json
Labels: JSON Valid, Ownership Validated, accepted

#1063 Ibm20180914 73932
  2018/1xxx/CVE-2018-1719.json
  2018/1xxx/CVE-2018-1791.json
Labels: accepted

#1064 CVE-2018-14638
  2018/14xxx/CVE-2018-14638.json
Labels: JSON Valid, Ownership Validated, accepted

#1065 Publish CVE-2018-11058,87
  2018/11xxx/CVE-2018-11058.json
  2018/11xxx/CVE-2018-11087.json
Labels: JSON Valid, Ownership Validated, accepted

#1067 Publish CVE-2018-1198,1223,11086,11088
  2018/11xxx/CVE-2018-11086.json
  2018/11xxx/CVE-2018-11088.json
  2018/1xxx/CVE-2018-1198.json
  2018/1xxx/CVE-2018-1223.json
Labels: JSON Valid, Ownership Validated, accepted

#1069 ZDI assigns the following CVE:
  2018/14xxx/CVE-2018-14320.json
Labels: JSON Valid, Ownership Validated, accepted

#1070 CVE-2018-14630
  2018/14xxx/CVE-2018-14630.json
Labels: JSON Valid, Ownership Validated, accepted

#1068 CVE-2018-14631
  2018/14xxx/CVE-2018-14631.json
Labels: JSON Valid, Ownership Validated, accepted

#1072 CVE-2018-14642.json
  2018/14xxx/CVE-2018-14642.json
Labels: JSON Valid, Ownership Validated, accepted

#1073 CVE-2018-14641
  2018/14xxx/CVE-2018-14641.json
Labels: JSON Valid, Ownership Validated, accepted

#1074 Add CVE-2018-13398
  2018/13xxx/CVE-2018-13398.json
Labels: JSON Valid, Ownership Validated, accepted

#1066 CVE-2018-1000802 now public
  2018/1000xxx/CVE-2018-1000802.json
Labels: JSON Valid, Ownership Validated, accepted, question

#1071 Qualcomm 9/18/2018 CVE publish
  2017/15xxx/CVE-2017-15818.json
  2017/15xxx/CVE-2017-15825.json
  2017/15xxx/CVE-2017-15828.json
  2017/15xxx/CVE-2017-15844.json
  2018/11xxx/CVE-2018-11265.json
  2018/11xxx/CVE-2018-11270.json
  2018/11xxx/CVE-2018-11273.json
  2018/11xxx/CVE-2018-11274.json
  2018/11xxx/CVE-2018-11275.json
  2018/11xxx/CVE-2018-11276.json
  2018/11xxx/CVE-2018-11278.json
  2018/11xxx/CVE-2018-11280.json
  2018/11xxx/CVE-2018-11281.json
  2018/11xxx/CVE-2018-11286.json
  2018/11xxx/CVE-2018-11293.json
  2018/11xxx/CVE-2018-11294.json
  2018/11xxx/CVE-2018-11295.json
  2018/11xxx/CVE-2018-11296.json
  2018/11xxx/CVE-2018-11297.json
  2018/11xxx/CVE-2018-11298.json
  2018/11xxx/CVE-2018-11299.json
  2018/11xxx/CVE-2018-11300.json
  2018/11xxx/CVE-2018-11301.json
  2018/11xxx/CVE-2018-11302.json
  2018/11xxx/CVE-2018-11818.json
  2018/11xxx/CVE-2018-11826.json
  2018/11xxx/CVE-2018-11827.json
  2018/11xxx/CVE-2018-11832.json
  2018/11xxx/CVE-2018-11836.json
  2018/11xxx/CVE-2018-11840.json
  2018/11xxx/CVE-2018-11842.json
  2018/11xxx/CVE-2018-11843.json
  2018/11xxx/CVE-2018-11851.json
  2018/11xxx/CVE-2018-11852.json
  2018/11xxx/CVE-2018-11860.json
  2018/11xxx/CVE-2018-11863.json
  2018/11xxx/CVE-2018-11868.json
  2018/11xxx/CVE-2018-11869.json
Labels: JSON Valid, Ownership Validated, accepted

#1077 Update CVE-2018-6693.json
  2018/6xxx/CVE-2018-6693.json
Labels: JSON Valid, Ownership Validated, accepted

#1079 Update CVE-2017-3912.json
  2017/3xxx/CVE-2017-3912.json
Labels: JSON Valid, Ownership Validated, accepted

#1080 Update CVE-2018-6690.json
  2018/6xxx/CVE-2018-6690.json
Labels: JSON Valid, Ownership Validated, accepted

#1081 Qualcomm 9/19/2018 CVE Publish
  2018/11xxx/CVE-2018-11878.json
  2018/11xxx/CVE-2018-11883.json
  2018/11xxx/CVE-2018-11886.json
  2018/11xxx/CVE-2018-11889.json
  2018/11xxx/CVE-2018-11891.json
  2018/11xxx/CVE-2018-11893.json
  2018/11xxx/CVE-2018-11894.json
  2018/11xxx/CVE-2018-11895.json
  2018/11xxx/CVE-2018-11897.json
  2018/11xxx/CVE-2018-11898.json
  2018/11xxx/CVE-2018-11902.json
  2018/11xxx/CVE-2018-11903.json
  2018/11xxx/CVE-2018-11904.json
  2018/3xxx/CVE-2018-3573.json
  2018/3xxx/CVE-2018-3574.json
  2018/5xxx/CVE-2018-5905.json
Labels: JSON Valid, Ownership Validated, accepted

#1084 Add Elastic CVE IDs
  2018/3xxx/CVE-2018-3823.json
  2018/3xxx/CVE-2018-3824.json
  2018/3xxx/CVE-2018-3825.json
  2018/3xxx/CVE-2018-3826.json
  2018/3xxx/CVE-2018-3827.json
  2018/3xxx/CVE-2018-3828.json
  2018/3xxx/CVE-2018-3829.json
  2018/3xxx/CVE-2018-3830.json
  2018/3xxx/CVE-2018-3831.json
Labels: JSON Valid, Ownership Validated, accepted

#1086 Qualcomm 9/20/2018 CVE publish
  2017/18xxx/CVE-2017-18280.json
  2017/18xxx/CVE-2017-18301.json
  2017/18xxx/CVE-2017-18302.json
  2017/18xxx/CVE-2017-18314.json
  2018/11xxx/CVE-2018-11267.json
  2018/11xxx/CVE-2018-11268.json
  2018/11xxx/CVE-2018-11269.json
  2018/11xxx/CVE-2018-11277.json
  2018/11xxx/CVE-2018-11285.json
  2018/11xxx/CVE-2018-11287.json
  2018/11xxx/CVE-2018-11290.json
  2018/11xxx/CVE-2018-11291.json
  2018/11xxx/CVE-2018-11292.json
  2018/11xxx/CVE-2018-11982.json
  2018/5xxx/CVE-2018-5837.json
  2018/5xxx/CVE-2018-5871.json
Labels: JSON Valid, Ownership Validated, accepted

#1087 Ibm20180920 102126
  2018/1xxx/CVE-2018-1674.json
  2018/1xxx/CVE-2018-1800.json
Labels: JSON Valid, Ownership Validated, accepted

#1090 20180919 0900
  2018/6xxx/CVE-2018-6502.json
  2018/6xxx/CVE-2018-6503.json
  2018/6xxx/CVE-2018-6504.json
  2018/6xxx/CVE-2018-6505.json
Labels: JSON Valid, Ownership Validated, accepted

#1091 CVE-2018-14643
  2018/14xxx/CVE-2018-14643.json
Labels: JSON Valid, Ownership Validated, accepted

#1092 CVE-2018-14645
  2018/14xxx/CVE-2018-14645.json
Labels: JSON Valid, Ownership Validated, accepted

#1093 Ibm20180921 8153
  2018/1xxx/CVE-2018-1685.json
  2018/1xxx/CVE-2018-1710.json
  2018/1xxx/CVE-2018-1711.json
Labels: accepted

#1094 Initial public release of CVE-2018-15612 and CVE-2018-15613
  2018/15xxx/CVE-2018-15612.json
  2018/15xxx/CVE-2018-15613.json
Labels: JSON Valid, Ownership Validated, accepted

#1097 Update CVE-2018-6682.json
  2018/6xxx/CVE-2018-6682.json
Labels: JSON Valid, Ownership Validated, accepted

#1098 Initial publication of CVE-2018-15615
  2018/15xxx/CVE-2018-15615.json
Labels: JSON Valid, Ownership Validated, accepted

#1100 Update CVE-2018-6700.json
  2018/6xxx/CVE-2018-6700.json
Labels: JSON Valid, Ownership Validated, accepted

#1101 ZDI assigns the following CVEs:
  2018/10xxx/CVE-2018-10496.json
  2018/10xxx/CVE-2018-10497.json
  2018/10xxx/CVE-2018-10498.json
  2018/10xxx/CVE-2018-10499.json
  2018/10xxx/CVE-2018-10500.json
  2018/10xxx/CVE-2018-10501.json
  2018/10xxx/CVE-2018-10502.json
  2018/11xxx/CVE-2018-11614.json
Labels: JSON Valid, Ownership Validated, accepted

#1102 ZDI assigns the following CVEs:
  2018/14xxx/CVE-2018-14318.json
Labels: JSON Valid, Ownership Validated, accepted

#1103 CVE-2018-14647
  2018/14xxx/CVE-2018-14647.json
Labels: JSON Valid, Ownership Validated, accepted

#1104 CVE-2018-14633
  2018/14xxx/CVE-2018-14633.json
Labels: JSON Valid, Ownership Validated, accepted

#1105 Ibm20180925 11345
  2018/1xxx/CVE-2018-1539.json
  2018/1xxx/CVE-2018-1560.json
  2018/1xxx/CVE-2018-1588.json
  2018/1xxx/CVE-2018-1607.json
  2018/1xxx/CVE-2018-1659.json
  2018/1xxx/CVE-2018-1664.json
  2018/1xxx/CVE-2018-1669.json
Labels: JSON Valid, Ownership Validated, accepted

#1106 CVE-2018-14634
  2018/14xxx/CVE-2018-14634.json
Labels: JSON Valid, Ownership Validated, accepted

#1107 Ibm20180926 103718
  2018/1xxx/CVE-2018-1545.json
  2018/1xxx/CVE-2018-1550.json
  2018/1xxx/CVE-2018-1610.json
  2018/1xxx/CVE-2018-1683.json
  2018/1xxx/CVE-2018-1768.json
  2018/1xxx/CVE-2018-1785.json
Labels: JSON Valid, Ownership Validated, accepted

#1110 Initial publication of CVE-2018-15611
  2018/15xxx/CVE-2018-15611.json
Labels: JSON Valid, Ownership Validated, accepted

#1112 CVE-2018-5393
  2018/5xxx/CVE-2018-5393.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#1113 Publish CVE-2018-1246, 1250, 1251, 11073, 11074, 11075, 15764
  2018/11xxx/CVE-2018-11073.json
  2018/11xxx/CVE-2018-11074.json
  2018/11xxx/CVE-2018-11075.json
  2018/15xxx/CVE-2018-15764.json
  2018/1xxx/CVE-2018-1246.json
  2018/1xxx/CVE-2018-1250.json
  2018/1xxx/CVE-2018-1251.json
Labels: JSON Valid, Ownership Validated, accepted
