Repository CVEProject/cvelist, pull requests merged in 2018-12, with the labels that each got.

#1332 Publish details for CVE-2018-6332
  2018/6xxx/CVE-2018-6332.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#1334 CVE-2018-16868
  2018/16xxx/CVE-2018-16868.json
Labels: JSON Valid, Ownership Validated, accepted

#1335 CVE-2018-16855
  2018/16xxx/CVE-2018-16855.json
Labels: JSON Valid, Ownership Validated, accepted

#1336 Ibm20181203 9320
  2018/1xxx/CVE-2018-1840.json
Labels: accepted

#1338 First batch of CVE info for Chrome Release-0-M66
  2018/6xxx/CVE-2018-6085.json
  2018/6xxx/CVE-2018-6086.json
  2018/6xxx/CVE-2018-6087.json
  2018/6xxx/CVE-2018-6088.json
  2018/6xxx/CVE-2018-6089.json
  2018/6xxx/CVE-2018-6090.json
  2018/6xxx/CVE-2018-6092.json
  2018/6xxx/CVE-2018-6094.json
  2018/6xxx/CVE-2018-6095.json
  2018/6xxx/CVE-2018-6098.json
  2018/6xxx/CVE-2018-6099.json
  2018/6xxx/CVE-2018-6101.json
  2018/6xxx/CVE-2018-6102.json
  2018/6xxx/CVE-2018-6103.json
  2018/6xxx/CVE-2018-6104.json
  2018/6xxx/CVE-2018-6105.json
  2018/6xxx/CVE-2018-6107.json
  2018/6xxx/CVE-2018-6108.json
  2018/6xxx/CVE-2018-6115.json
  2018/6xxx/CVE-2018-6116.json
  2018/6xxx/CVE-2018-6152.json
Labels: JSON Valid, Ownership Validated, accepted

#1341 Ibm20181205 113429
  2017/1xxx/CVE-2017-1622.json
  2018/1xxx/CVE-2018-1568.json
  2018/1xxx/CVE-2018-1648.json
  2018/1xxx/CVE-2018-1650.json
  2018/1xxx/CVE-2018-1697.json
  2018/1xxx/CVE-2018-1728.json
  2018/1xxx/CVE-2018-1730.json
  2018/1xxx/CVE-2018-1732.json
  2018/1xxx/CVE-2018-1941.json
Labels: JSON Valid, Ownership Validated, accepted

#1340 Publish CVE-15773,15797
  2018/15xxx/CVE-2018-15773.json
  2018/15xxx/CVE-2018-15797.json
Labels: JSON Valid, Ownership Validated, accepted

#1346 Update CVE-2018-6755.json
  2018/6xxx/CVE-2018-6755.json
Labels: JSON Valid, Ownership Validated, accepted

#1347 Update CVE-2018-6756.json
  2018/6xxx/CVE-2018-6756.json
Labels: JSON Valid, Ownership Validated, accepted

#1348 Update CVE-2018-6757.json
  2018/6xxx/CVE-2018-6757.json
Labels: JSON Valid, Ownership Validated, accepted

#1349 Qualcomm 12-7-2018 CVE publish
  2017/14xxx/CVE-2017-14888.json
  2017/15xxx/CVE-2017-15835.json
  2018/11xxx/CVE-2018-11905.json
Labels: JSON Valid, Ownership Validated, accepted

#1345 CVE-2018-16861
  2018/16xxx/CVE-2018-16867.json
Labels: JSON Valid, Ownership Validated, accepted

#1352 Dwf jenkins 2018 12 09
  2018/1000xxx/CVE-2018-1000861.json
  2018/1000xxx/CVE-2018-1000862.json
  2018/1000xxx/CVE-2018-1000863.json
  2018/1000xxx/CVE-2018-1000864.json
Labels: JSON Valid, Ownership Validated, accepted

#1355 Ibm20181210 82835
  2018/1xxx/CVE-2018-1671.json
  2018/1xxx/CVE-2018-1957.json
Labels: accepted

#1353 Dwf jenkins 2018 12 09 02
  2018/1000xxx/CVE-2018-1000865.json
  2018/1000xxx/CVE-2018-1000866.json
Labels: JSON Valid, Ownership Validated, accepted

#1354 Qualcomm-12-10-2018 CVE publish
  2016/10xxx/CVE-2016-10502.json
Labels: JSON Valid, Ownership Validated, accepted

#1356 Publish CVE-2018-1279, 15800
  2018/15xxx/CVE-2018-15800.json
  2018/1xxx/CVE-2018-1279.json
Labels: JSON Valid, Ownership Validated, accepted

#1357 CVE descriptions for Chrome Release-0-M71
  2017/5xxx/CVE-2017-5133.json
  2018/17xxx/CVE-2018-17480.json
  2018/17xxx/CVE-2018-17481.json
  2018/18xxx/CVE-2018-18335.json
  2018/18xxx/CVE-2018-18336.json
  2018/18xxx/CVE-2018-18337.json
  2018/18xxx/CVE-2018-18338.json
  2018/18xxx/CVE-2018-18339.json
  2018/18xxx/CVE-2018-18340.json
  2018/18xxx/CVE-2018-18341.json
  2018/18xxx/CVE-2018-18342.json
  2018/18xxx/CVE-2018-18343.json
  2018/18xxx/CVE-2018-18344.json
  2018/18xxx/CVE-2018-18345.json
  2018/18xxx/CVE-2018-18346.json
  2018/18xxx/CVE-2018-18347.json
  2018/18xxx/CVE-2018-18348.json
  2018/18xxx/CVE-2018-18349.json
  2018/18xxx/CVE-2018-18350.json
  2018/18xxx/CVE-2018-18351.json
  2018/18xxx/CVE-2018-18352.json
  2018/18xxx/CVE-2018-18353.json
  2018/18xxx/CVE-2018-18354.json
  2018/18xxx/CVE-2018-18355.json
  2018/18xxx/CVE-2018-18356.json
  2018/18xxx/CVE-2018-18357.json
  2018/18xxx/CVE-2018-18358.json
  2018/18xxx/CVE-2018-18359.json
Labels: JSON Valid, Ownership Validated, accepted

#1358 Ibm20181211 10177
  2018/1xxx/CVE-2018-1652.json
  2018/1xxx/CVE-2018-1654.json
  2018/1xxx/CVE-2018-1900.json
  2018/1xxx/CVE-2018-1904.json
Labels: JSON Valid, Ownership Validated, accepted

#1359 Disclosure of credential disclosure vulnerability in TIBCO Managed File Transfer
  2018/18xxx/CVE-2018-18810.json
Labels: JSON Valid, Ownership Validated, accepted

#1361 CVE-2018-16867
  2018/16xxx/CVE-2018-16867.json
Labels: JSON Valid, Ownership Validated, accepted

#1363 Update CVE-2018-6704.json
  2018/6xxx/CVE-2018-6704.json
Labels: JSON Valid, Ownership Validated, accepted

#1364 Update CVE-2018-6705.json
  2018/6xxx/CVE-2018-6705.json
Labels: JSON Valid, Ownership Validated, accepted

#1365 Update CVE-2018-6706.json
  2018/6xxx/CVE-2018-6706.json
Labels: JSON Valid, Ownership Validated, accepted

#1367 CVE-2018-16872
  2018/16xxx/CVE-2018-16872.json
Labels: JSON Valid, Ownership Validated, accepted

#1368 CVE-2018-14623
  2018/14xxx/CVE-2018-14623.json
Labels: JSON Valid, Ownership Validated, accepted

#1369 VU#756913
  2018/5xxx/CVE-2018-5411.json
Labels: JSON Valid, Ownership Validated

#1370 Publish CVE-2018-15754,15774,15776
  2018/15xxx/CVE-2018-15754.json
  2018/15xxx/CVE-2018-15774.json
  2018/15xxx/CVE-2018-15776.json
Labels: JSON Valid, Ownership Validated, accepted

#1373 Update CVE-2018-6707.json
  2018/6xxx/CVE-2018-6707.json
Labels: JSON Valid, Ownership Validated, accepted

#1375 CVE-2018-16874
  2018/16xxx/CVE-2018-16874.json
Labels: JSON Valid, Ownership Validated, accepted

#1376 CVE-2018-16875
  2018/16xxx/CVE-2018-16875.json
Labels: JSON Valid, Ownership Validated, accepted

#1377 Ibm20181214 1091
  2018/1xxx/CVE-2018-1848.json
  2018/1xxx/CVE-2018-1977.json
Labels: accepted

#1378 Ibm20181217 102626
  2017/1xxx/CVE-2017-1265.json
  2017/1xxx/CVE-2017-1272.json
  2017/1xxx/CVE-2017-1597.json
  2018/1xxx/CVE-2018-1889.json
  2018/1xxx/CVE-2018-1891.json
Labels: accepted

#1379 Ibm20181218 94711
  2018/1xxx/CVE-2018-1833.json
Labels: accepted

#1381 CVE-2018-16883
  2018/16xxx/CVE-2018-16883.json
Labels: JSON Valid, Ownership Validated, accepted

#1386 Update CVE-2018-6669.json
  2018/6xxx/CVE-2018-6669.json
Labels: JSON Valid, Ownership Validated, accepted

#1390 Ibm20181220 82657
  2018/1xxx/CVE-2018-1661.json
  2018/1xxx/CVE-2018-1677.json
  2018/1xxx/CVE-2018-1771.json
  2018/1xxx/CVE-2018-1778.json
  2018/1xxx/CVE-2018-1784.json
  2018/1xxx/CVE-2018-1973.json
Labels: JSON Valid, Ownership Validated, accepted

#1389 Qualcomm_12-20-2018 CVE publish
  2017/9xxx/CVE-2017-9704.json
  2018/11xxx/CVE-2018-11960.json
  2018/11xxx/CVE-2018-11961.json
  2018/11xxx/CVE-2018-11963.json
  2018/11xxx/CVE-2018-11964.json
  2018/11xxx/CVE-2018-11965.json
  2018/11xxx/CVE-2018-11983.json
  2018/11xxx/CVE-2018-11984.json
  2018/11xxx/CVE-2018-11985.json
  2018/11xxx/CVE-2018-11986.json
  2018/11xxx/CVE-2018-11987.json
  2018/11xxx/CVE-2018-11988.json
Labels: JSON Valid, Ownership Validated, accepted

#1388 More CVEs
  2018/1000xxx/CVE-2018-1000867.json
  2018/1000xxx/CVE-2018-1000868.json
  2018/1000xxx/CVE-2018-1000869.json
  2018/1000xxx/CVE-2018-1000870.json
  2018/1000xxx/CVE-2018-1000871.json
  2018/1000xxx/CVE-2018-1000872.json
  2018/1000xxx/CVE-2018-1000873.json
  2018/1000xxx/CVE-2018-1000874.json
  2018/1000xxx/CVE-2018-1000875.json
  2018/1000xxx/CVE-2018-1000876.json
  2018/1000xxx/CVE-2018-1000877.json
  2018/1000xxx/CVE-2018-1000878.json
  2018/1000xxx/CVE-2018-1000879.json
  2018/1000xxx/CVE-2018-1000880.json
  2018/1000xxx/CVE-2018-1000881.json
  2018/1000xxx/CVE-2018-1000882.json
Labels: JSON Valid, Ownership Validated, accepted

#1391 more CVEs
  2018/1000xxx/CVE-2018-1000883.json
  2018/1000xxx/CVE-2018-1000884.json
  2018/1000xxx/CVE-2018-1000885.json
  2018/1000xxx/CVE-2018-1000886.json
Labels: JSON Valid, Ownership Validated, accepted

#1393 Bill Situ <Bill.Situ@Oracle.com>
  2018/18xxx/CVE-2018-18223.json
  2018/18xxx/CVE-2018-18224.json
  2018/3xxx/CVE-2018-3147.json
  2018/3xxx/CVE-2018-3217.json
  2018/3xxx/CVE-2018-3218.json
  2018/3xxx/CVE-2018-3219.json
  2018/3xxx/CVE-2018-3220.json
  2018/3xxx/CVE-2018-3221.json
  2018/3xxx/CVE-2018-3222.json
  2018/3xxx/CVE-2018-3223.json
  2018/3xxx/CVE-2018-3224.json
  2018/3xxx/CVE-2018-3225.json
  2018/3xxx/CVE-2018-3226.json
  2018/3xxx/CVE-2018-3227.json
  2018/3xxx/CVE-2018-3228.json
  2018/3xxx/CVE-2018-3229.json
  2018/3xxx/CVE-2018-3230.json
  2018/3xxx/CVE-2018-3231.json
  2018/3xxx/CVE-2018-3232.json
  2018/3xxx/CVE-2018-3233.json
  2018/3xxx/CVE-2018-3234.json
  2018/3xxx/CVE-2018-3302.json
Labels: JSON Valid, accepted

#1397 Synology-SA-18:25
  2018/8xxx/CVE-2018-8918.json
Labels: JSON Valid, Ownership Validated, accepted

#1398 Synology-SA-18:14
  2018/8xxx/CVE-2018-8917.json
  2018/8xxx/CVE-2018-8919.json
  2018/8xxx/CVE-2018-8920.json
Labels: JSON Valid, Ownership Validated, accepted

#1399 CVE-2018-17957
  2018/17xxx/CVE-2018-17957.json
Labels: JSON Valid

#1400 more cves
  2018/1000xxx/CVE-2018-1000887.json
  2018/1000xxx/CVE-2018-1000888.json
  2018/1000xxx/CVE-2018-1000889.json
  2018/1000xxx/CVE-2018-1000890.json
Labels: JSON Valid, Ownership Validated, accepted

#1401 updated description with details
  2018/1000xxx/CVE-2018-1000874.json
Labels: JSON Valid, Ownership Validated, accepted

#1402 reserved CVEs
  2018/1000xxx/CVE-2018-1000891.json
  2018/1000xxx/CVE-2018-1000892.json
  2018/1000xxx/CVE-2018-1000893.json
Labels: JSON Valid, Ownership Validated, accepted

#1403 some older CVEs released at BlackHat but missed notification
  2018/1000xxx/CVE-2018-1000624.json
  2018/1000xxx/CVE-2018-1000625.json
  2018/1000xxx/CVE-2018-1000626.json
  2018/1000xxx/CVE-2018-1000627.json
  2018/1000xxx/CVE-2018-1000628.json
  2018/1000xxx/CVE-2018-1000629.json
  2018/1000xxx/CVE-2018-1000630.json
  2018/1000xxx/CVE-2018-1000631.json
Labels: JSON Valid, Ownership Validated, accepted
