Repository CVEProject/cvelist, pull requests merged in 2018-11, with the labels that each got.

#1235 Adding Cisco CVE-2018-15454
  2018/15xxx/CVE-2018-15454.json
Labels: JSON Valid, Ownership Validated, accepted

#1232 CVE-2016-2120
  2018/11xxx/CVE-2018-11759.json
Labels: JSON Valid, Ownership Validated, accepted

#1233 CVE-2016-2123
  2016/2xxx/CVE-2016-2123.json
Labels: JSON Valid, Ownership Validated, accepted

#1230 CVE-2018-14660
  2018/14xxx/CVE-2018-14660.json
Labels: JSON Valid, Ownership Validated, accepted

#1238 Added CVE-2018-11062,15762
  2018/11xxx/CVE-2018-11062.json
  2018/15xxx/CVE-2018-15762.json
Labels: JSON Valid, Ownership Validated, accepted

#1239 CVE-2018-16849
  2018/16xxx/CVE-2018-16849.json
Labels: JSON Valid, Ownership Validated, accepted

#1240 CVE-2018-16847
  2018/16xxx/CVE-2018-16847.json
Labels: JSON Valid, Ownership Validated, accepted

#1241 Assign CVE-2018-9208
  2018/9xxx/CVE-2018-9208.json
Labels: JSON Valid, Ownership Validated, accepted

#1243 Add CVE-2018-13396 CVE-2018-13397
  2018/13xxx/CVE-2018-13396.json
  2018/13xxx/CVE-2018-13397.json
Labels: JSON Valid, Ownership Validated, accepted

#1244 Ibm20181106 10141
  2018/1xxx/CVE-2018-1606.json
  2018/1xxx/CVE-2018-1694.json
Labels: JSON Valid, Ownership Validated, accepted

#1246 CVE-2018-14667
  2018/14xxx/CVE-2018-14667.json
Labels: JSON Valid, Ownership Validated, accepted

#1245 Publication of advisories for TIBCO Messaging suite products.
  2018/12xxx/CVE-2018-12411.json
  2018/12xxx/CVE-2018-12412.json
  2018/12xxx/CVE-2018-12413.json
  2018/12xxx/CVE-2018-12414.json
  2018/12xxx/CVE-2018-12415.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#1247 CVE-2018-16843
  2018/16xxx/CVE-2018-16843.json
Labels: JSON Valid, Ownership Validated, accepted

#1248 CVE-2018-16844
  2018/16xxx/CVE-2018-16844.json
Labels: JSON Valid, Ownership Validated, accepted

#1249 CVE-2018-16845
  2018/16xxx/CVE-2018-16845.json
Labels: JSON Valid, Ownership Validated, accepted

#1251 Adding CVE-2018-18590
  2018/18xxx/CVE-2018-18590.json
Labels: JSON Valid, Ownership Validated, accepted

#1254 Adding Cisco CVE-2018-0284
  2018/0xxx/CVE-2018-0284.json
Labels: JSON Valid, Ownership Validated, accepted

#1255 Adding Cisco CVE-2018-15381
  2018/15xxx/CVE-2018-15381.json
Labels: JSON Valid, Ownership Validated, accepted

#1256 Adding Cisco CVE-2018-15393
  2018/15xxx/CVE-2018-15393.json
Labels: JSON Valid, Ownership Validated, accepted

#1258 Adding Cisco CVE-2018-15437
  2018/15xxx/CVE-2018-15437.json
Labels: JSON Valid, Ownership Validated, accepted

#1259 Adding Cisco CVE-2018-15439
  2018/15xxx/CVE-2018-15439.json
Labels: JSON Valid, Ownership Validated, accepted

#1260 Adding Cisco CVE-2018-15443
  2018/15xxx/CVE-2018-15443.json
Labels: JSON Valid, Ownership Validated, accepted

#1262 Adding Cisco CVE-2018-15445
  2018/15xxx/CVE-2018-15445.json
Labels: JSON Valid, Ownership Validated, accepted

#1263 Adding Cisco CVE-2018-15446
  2018/15xxx/CVE-2018-15446.json
Labels: JSON Valid, Ownership Validated, accepted

#1265 Adding Cisco CVE-2018-15448
  2018/15xxx/CVE-2018-15448.json
Labels: JSON Valid, Ownership Validated, accepted

#1266 Adding Cisco CVE-2018-15449
  2018/15xxx/CVE-2018-15449.json
Labels: JSON Valid, Ownership Validated, accepted

#1267 Adding Cisco CVE-2018-15450
  2018/15xxx/CVE-2018-15450.json
Labels: JSON Valid, Ownership Validated, accepted

#1269 Ibm20181108 181920
  2016/9xxx/CVE-2016-9749.json
  2017/1xxx/CVE-2017-1119.json
  2018/1xxx/CVE-2018-1684.json
  2018/1xxx/CVE-2018-1774.json
  2018/1xxx/CVE-2018-1780.json
  2018/1xxx/CVE-2018-1781.json
  2018/1xxx/CVE-2018-1799.json
  2018/1xxx/CVE-2018-1802.json
  2018/1xxx/CVE-2018-1834.json
  2018/1xxx/CVE-2018-1842.json
  2018/1xxx/CVE-2018-1857.json
Labels: JSON Valid, Ownership Validated, accepted

#1272 Ibm20181109 105737
  2018/1xxx/CVE-2018-1872.json
Labels: accepted

#1271 CVE-2018-14644
  2018/14xxx/CVE-2018-14644.json
Labels: JSON Valid, Ownership Validated, accepted

#1273 Publish CVE-2018-15796
  2018/15xxx/CVE-2018-15796.json
Labels: JSON Valid, Ownership Validated, accepted

#1275 Ibm20181112 103316
  2018/1xxx/CVE-2018-1786.json
  2018/1xxx/CVE-2018-1798.json
  2018/1xxx/CVE-2018-1884.json
Labels: accepted

#1276 Adding CVE-2018-18591
  2018/18xxx/CVE-2018-18591.json
Labels: JSON Valid, Ownership Validated, accepted

#1281 Adding Cisco CVE-2018-15452
  2018/15xxx/CVE-2018-15452.json
Labels: JSON Valid, Ownership Validated, accepted

#1283 CVE-2018-16850
  2018/16xxx/CVE-2018-16850.json
Labels: JSON Valid, Ownership Validated, accepted

#1285 TIBCO GridServer Manager CSRF issues.
  2018/12xxx/CVE-2018-12416.json
Labels: JSON Valid, Ownership Validated, accepted

#1286 CVE-2018-14658
  2018/14xxx/CVE-2018-14658.json
Labels: JSON Valid, Ownership Validated, accepted

#1287 CVE-2018-14657
  2018/14xxx/CVE-2018-14657.json
Labels: JSON Valid, Ownership Validated, accepted

#1288 CVE-2018-14655
  2018/14xxx/CVE-2018-14655.json
Labels: JSON Valid, Ownership Validated, accepted

#1289 ZDI assigns the following CVEs:
  2018/17xxx/CVE-2018-17614.json
Labels: JSON Valid, Ownership Validated, accepted

#1290 CVE infrom from Chrome Release-0-M65,Release-0-M70
  2018/17xxx/CVE-2018-17462.json
  2018/17xxx/CVE-2018-17463.json
  2018/17xxx/CVE-2018-17464.json
  2018/17xxx/CVE-2018-17465.json
  2018/17xxx/CVE-2018-17466.json
  2018/17xxx/CVE-2018-17467.json
  2018/17xxx/CVE-2018-17468.json
  2018/17xxx/CVE-2018-17469.json
  2018/17xxx/CVE-2018-17471.json
  2018/17xxx/CVE-2018-17472.json
  2018/17xxx/CVE-2018-17473.json
  2018/17xxx/CVE-2018-17474.json
  2018/17xxx/CVE-2018-17475.json
  2018/17xxx/CVE-2018-17476.json
  2018/17xxx/CVE-2018-17477.json
  2018/6xxx/CVE-2018-6057.json
  2018/6xxx/CVE-2018-6060.json
  2018/6xxx/CVE-2018-6061.json
  2018/6xxx/CVE-2018-6062.json
  2018/6xxx/CVE-2018-6063.json
  2018/6xxx/CVE-2018-6064.json
  2018/6xxx/CVE-2018-6065.json
  2018/6xxx/CVE-2018-6066.json
  2018/6xxx/CVE-2018-6067.json
  2018/6xxx/CVE-2018-6068.json
  2018/6xxx/CVE-2018-6069.json
  2018/6xxx/CVE-2018-6070.json
  2018/6xxx/CVE-2018-6071.json
  2018/6xxx/CVE-2018-6072.json
  2018/6xxx/CVE-2018-6073.json
  2018/6xxx/CVE-2018-6074.json
  2018/6xxx/CVE-2018-6075.json
  2018/6xxx/CVE-2018-6076.json
  2018/6xxx/CVE-2018-6077.json
  2018/6xxx/CVE-2018-6078.json
  2018/6xxx/CVE-2018-6079.json
  2018/6xxx/CVE-2018-6080.json
  2018/6xxx/CVE-2018-6081.json
  2018/6xxx/CVE-2018-6082.json
  2018/6xxx/CVE-2018-6083.json
Labels: JSON Valid, Ownership Validated, accepted

#1252 CVE-2018-12543
  2018/12xxx/CVE-2018-12543.json
Labels: JSON Valid, Ownership Validated, accepted

#1292 Ibm20181115 10656
  2018/1xxx/CVE-2018-1643.json
Labels: accepted

#1295 Ibm20181116 1014
  2018/1xxx/CVE-2018-1639.json
  2018/1xxx/CVE-2018-1797.json
Labels: JSON Valid, Ownership Validated, accepted

#1296 Publish CVE-2018-15759,15761
  2018/15xxx/CVE-2018-15759.json
  2018/15xxx/CVE-2018-15761.json
Labels: JSON Valid, Ownership Validated, accepted

#1297 Ibm20181119 81227
  2018/1xxx/CVE-2018-1841.json
Labels: JSON Valid, Ownership Validated, accepted

#1299 Update CVE-2018-9207.json
  2018/9xxx/CVE-2018-9207.json
Labels: JSON Valid, Ownership Validated, accepted

#1300 Ibm20181120 75915
  2018/1xxx/CVE-2018-1779.json
Labels: JSON Valid, Ownership Validated, accepted

#1306 Ibm20181121 9186
  2018/1xxx/CVE-2018-1843.json
Labels: JSON Valid, Ownership Validated, accepted

#1305 CVE-2018-16854
  2018/16xxx/CVE-2018-16854.json
Labels: JSON Valid, Ownership Validated, accepted

#1312 Ibm20181126 1163
  2017/1xxx/CVE-2017-1418.json
  2018/1xxx/CVE-2018-1905.json
Labels: JSON Valid, Ownership Validated, accepted

#1309 CVE-2018-16862
  2018/16xxx/CVE-2018-16862.json
Labels: JSON Valid, Ownership Validated, accepted

#1310 CVE-2018-14646
  2018/14xxx/CVE-2018-14646.json
Labels: JSON Valid, Ownership Validated, accepted

#1311 Publish CVE-2018-11066,11067,11076,11077
  2018/11xxx/CVE-2018-11066.json
  2018/11xxx/CVE-2018-11067.json
  2018/11xxx/CVE-2018-11076.json
  2018/11xxx/CVE-2018-11077.json
Labels: JSON Valid, Ownership Validated, accepted

#1313 Vulnerability in TIBCO Statistica Server.
  2018/18xxx/CVE-2018-18807.json
Labels: JSON Valid, Ownership Validated, accepted

#1315 publication of CVE-2018-17953
  2018/17xxx/CVE-2018-17953.json
Labels: JSON Valid, Ownership Validated, accepted

#1318 CVE-2018-14629
  2018/14xxx/CVE-2018-14629.json
Labels: JSON Valid, Ownership Validated, accepted

#1319 CVE-2018-16841
  2018/16xxx/CVE-2018-16841.json
Labels: JSON Valid, Ownership Validated, accepted

#1320 CVE-2018-16853
  2018/16xxx/CVE-2018-16853.json
Labels: JSON Valid, Ownership Validated, accepted

#1322 CVE-2018-16852
  2018/16xxx/CVE-2018-16852.json
Labels: JSON Valid, Ownership Validated, accepted

#1323 CVE-2018-16857
  2018/16xxx/CVE-2018-16857.json
Labels: JSON Valid, Ownership Validated, accepted

#1324 Qualcomm 11-28-2018 CVE publish
  2017/18xxx/CVE-2017-18315.json
  2017/18xxx/CVE-2017-18316.json
  2017/18xxx/CVE-2017-18317.json
  2017/18xxx/CVE-2017-18318.json
  2018/11xxx/CVE-2018-11264.json
  2018/11xxx/CVE-2018-11921.json
  2018/11xxx/CVE-2018-11994.json
  2018/11xxx/CVE-2018-11996.json
  2018/5xxx/CVE-2018-5870.json
  2018/5xxx/CVE-2018-5877.json
  2018/5xxx/CVE-2018-5912.json
  2018/5xxx/CVE-2018-5916.json
  2018/5xxx/CVE-2018-5917.json
  2018/5xxx/CVE-2018-5918.json
Labels: JSON Valid, Ownership Validated, accepted

#1325 Ibm20181128 105736
  2018/1xxx/CVE-2018-1584.json
Labels: JSON Valid, Ownership Validated, accepted

#1326 Adding Cisco CVE-2018-15441
  2018/15xxx/CVE-2018-15441.json
Labels: JSON Valid, Ownership Validated, accepted

#1308 Correct first affected version of CVE-2018-17463
  2018/17xxx/CVE-2018-17463.json
Labels: JSON Valid, Ownership Validated

#1327 Ibm20181129 11321
  2018/1xxx/CVE-2018-1762.json
Labels: JSON Valid, Ownership Validated, accepted

#1294 CVE-2018-16859
  2018/16xxx/CVE-2018-16859.json
Labels: JSON Valid, Ownership Validated, accepted

#1277 CVE-2018-10851
  2018/10xxx/CVE-2018-10851.json
Labels: JSON Valid, Ownership Validated, accepted

#1278 CVE-2018-14626
  2018/14xxx/CVE-2018-14626.json
Labels: JSON Valid, Ownership Validated, accepted

#1328 CVE-2018-14637
  2018/14xxx/CVE-2018-14637.json
Labels: JSON Valid, Ownership Validated, accepted

#1329 Ibm20181130 83841
  2018/1xxx/CVE-2018-1897.json
  2018/1xxx/CVE-2018-1927.json
  2018/1xxx/CVE-2018-1928.json
Labels: accepted

#1330 Publish CVE-2018-15767,15768
  2018/15xxx/CVE-2018-15767.json
  2018/15xxx/CVE-2018-15768.json
Labels: JSON Valid, Ownership Validated, accepted
