Repository CVEProject/cvelist, pull requests merged in 2018-10, with the labels that each got.

#1115 Updated example url in description
  2018/1000xxx/CVE-2018-1000225.json
  2018/1000xxx/CVE-2018-1000226.json
Labels: JSON Valid, Ownership Validated, accepted

#1116 Ibm20181001 94430
  2018/1xxx/CVE-2018-1420.json
  2018/1xxx/CVE-2018-1672.json
Labels: accepted

#1120 Ibm20181002 101722
  2017/1xxx/CVE-2017-1649.json
  2018/1xxx/CVE-2018-1395.json
  2018/1xxx/CVE-2018-1403.json
  2018/1xxx/CVE-2018-1404.json
  2018/1xxx/CVE-2018-1405.json
  2018/1xxx/CVE-2018-1439.json
  2018/1xxx/CVE-2018-1440.json
  2018/1xxx/CVE-2018-1498.json
  2018/1xxx/CVE-2018-1509.json
  2018/1xxx/CVE-2018-1522.json
  2018/1xxx/CVE-2018-1557.json
  2018/1xxx/CVE-2018-1558.json
  2018/1xxx/CVE-2018-1593.json
  2018/1xxx/CVE-2018-1601.json
  2018/1xxx/CVE-2018-1605.json
  2018/1xxx/CVE-2018-1691.json
  2018/1xxx/CVE-2018-1692.json
Labels: JSON Valid, Ownership Validated, accepted

#1119 information for CVE-2018-12473
  2018/12xxx/CVE-2018-12473.json
Labels: JSON Valid, Ownership Validated, accepted

#1122 Update CVE-2018-6689.json
  2018/6xxx/CVE-2018-6689.json
Labels: JSON Valid, Ownership Validated, accepted

#1124 Update CVE-2018-6695.json
  2018/6xxx/CVE-2018-6695.json
Labels: JSON Valid, Ownership Validated, accepted

#1128 Ibm20181004 92637
  2018/1xxx/CVE-2018-1602.json
  2018/1xxx/CVE-2018-1603.json
  2018/1xxx/CVE-2018-1604.json
  2018/1xxx/CVE-2018-1670.json
  2018/1xxx/CVE-2018-1819.json
Labels: JSON Valid, Ownership Validated, accepted

#1131 Ibm20181005 83425
  2018/1xxx/CVE-2018-1647.json
  2018/1xxx/CVE-2018-1649.json
  2018/1xxx/CVE-2018-1686.json
  2018/1xxx/CVE-2018-1723.json
  2018/1xxx/CVE-2018-1783.json
  2018/1xxx/CVE-2018-1795.json
  2018/1xxx/CVE-2018-1812.json
Labels: JSON Valid, Ownership Validated, accepted

#1133 Adding Cisco CVE-2018-0464
  2018/0xxx/CVE-2018-0464.json
Labels: JSON Valid, Ownership Validated, accepted

#1134 Adding Cisco CVE-2018-0404
  2018/0xxx/CVE-2018-0404.json
Labels: JSON Valid, Ownership Validated, accepted

#1136 Adding Cisco CVE-2018-0405
  2018/0xxx/CVE-2018-0405.json
Labels: JSON Valid, Ownership Validated, accepted

#1137 Publish CVE-2018-11082,11083,15763
  2018/11xxx/CVE-2018-11082.json
  2018/11xxx/CVE-2018-11083.json
  2018/15xxx/CVE-2018-15763.json
Labels: JSON Valid, Ownership Validated, accepted

#1140 Ibm20181008 85451
  2018/1xxx/CVE-2018-1723.json
  2018/1xxx/CVE-2018-1741.json
  2018/1xxx/CVE-2018-1742.json
  2018/1xxx/CVE-2018-1743.json
  2018/1xxx/CVE-2018-1749.json
  2018/1xxx/CVE-2018-1750.json
  2018/1xxx/CVE-2018-1753.json
Labels: JSON Valid, Ownership Validated

#1142 CVE-2018-14656
  2018/14xxx/CVE-2018-14656.json
Labels: JSON Valid, Ownership Validated, accepted

#1141 CVE-2018-14649
  2018/14xxx/CVE-2018-14649.json
Labels: JSON Valid, Ownership Validated, accepted

#1145 Three CVEs related to Eclipse Vert.x
  2018/12xxx/CVE-2018-12541.json
  2018/12xxx/CVE-2018-12542.json
  2018/12xxx/CVE-2018-12544.json
Labels: JSON Valid, Ownership Validated, accepted

#1148 CVE-2018-12449
  2018/12xxx/CVE-2018-12449.json
Labels: JSON Valid, Ownership Validated, accepted

#1149 Assign CVE-2018-9206
  2018/9xxx/CVE-2018-9206.json
Labels: JSON Valid, Ownership Validated, accepted

#1150 Update CVE-2018-9206.json
  2018/9xxx/CVE-2018-9206.json
Labels: JSON Valid, Ownership Validated, accepted

#1152 Ibm20181011 205512
  2017/1xxx/CVE-2017-1231.json
  2018/1xxx/CVE-2018-1673.json
  2018/1xxx/CVE-2018-1838.json
Labels: accepted

#1153 Ibm20181012 65444
  2018/1xxx/CVE-2018-1533.json
  2018/1xxx/CVE-2018-1534.json
  2018/1xxx/CVE-2018-1770.json
  2018/1xxx/CVE-2018-1844.json
Labels: JSON Valid, Ownership Validated, accepted

#1147 CVE-2018-14664
  2018/14xxx/CVE-2018-14664.json
Labels: JSON Valid, Ownership Validated, accepted

#1154 CVE descriptions for Chrome Release-0-M65
  2018/6xxx/CVE-2018-6057.json
  2018/6xxx/CVE-2018-6060.json
  2018/6xxx/CVE-2018-6061.json
  2018/6xxx/CVE-2018-6062.json
  2018/6xxx/CVE-2018-6063.json
  2018/6xxx/CVE-2018-6064.json
  2018/6xxx/CVE-2018-6065.json
  2018/6xxx/CVE-2018-6066.json
  2018/6xxx/CVE-2018-6067.json
  2018/6xxx/CVE-2018-6068.json
  2018/6xxx/CVE-2018-6069.json
  2018/6xxx/CVE-2018-6070.json
  2018/6xxx/CVE-2018-6071.json
  2018/6xxx/CVE-2018-6072.json
  2018/6xxx/CVE-2018-6073.json
  2018/6xxx/CVE-2018-6074.json
  2018/6xxx/CVE-2018-6075.json
  2018/6xxx/CVE-2018-6076.json
  2018/6xxx/CVE-2018-6077.json
  2018/6xxx/CVE-2018-6078.json
  2018/6xxx/CVE-2018-6079.json
  2018/6xxx/CVE-2018-6080.json
  2018/6xxx/CVE-2018-6081.json
  2018/6xxx/CVE-2018-6082.json
  2018/6xxx/CVE-2018-6083.json
Labels: JSON Valid, Ownership Validated, accepted

#1155 Publish CVE-2018-15755
  2018/15xxx/CVE-2018-15755.json
Labels: JSON Valid, Ownership Validated, accepted

#1156 Ibm20181015 71652
  2018/1xxx/CVE-2018-1724.json
  2018/1xxx/CVE-2018-1744.json
  2018/1xxx/CVE-2018-1747.json
Labels: JSON Valid, Ownership Validated, accepted

#1161 Adding clamAV CVE-2018-15378
  2018/15xxx/CVE-2018-15378.json
Labels: JSON Valid, Ownership Validated, accepted

#1162 Add CVE-2018-13399
  2018/13xxx/CVE-2018-13399.json
Labels: JSON Valid, Ownership Validated, accepted

#1132 CVE-2018-10839
  2018/10xxx/CVE-2018-10839.json
Labels: JSON Valid, Ownership Validated, accepted

#1164 Ibm20181016 142446
  2018/1xxx/CVE-2018-1777.json
Labels: JSON Valid, Ownership Validated, accepted

#1166 CVE-2018-10933
  2018/10xxx/CVE-2018-10933.json
Labels: JSON Valid, Ownership Validated, accepted

#1167 Initial CVEs for ASA-2018-296
  2018/15xxx/CVE-2018-15616.json
Labels: JSON Valid, Ownership Validated, accepted

#1170 Adding Cisco CVE-2018-0388
  2018/0xxx/CVE-2018-0388.json
Labels: JSON Valid, Ownership Validated, accepted

#1172 Adding Cisco CVE-2018-0416
  2018/0xxx/CVE-2018-0416.json
Labels: JSON Valid, Ownership Validated, accepted

#1174 Correcting Cisco CVE-2018-0395
  2018/0xxx/CVE-2018-0395.json
Labels: JSON Valid, Ownership Validated, accepted

#1184 Adding Cisco CVE-2018-0378
  2018/0xxx/CVE-2018-0378.json
Labels: JSON Valid, Ownership Validated, accepted

#1187 Adding Cisco CVE-2018-15435
  2018/15xxx/CVE-2018-15435.json
Labels: JSON Valid, Ownership Validated, accepted

#1186 Adding Cisco CVE-2018-15438
  2018/15xxx/CVE-2018-15438.json
Labels: JSON Valid, Ownership Validated, accepted

#1173 Adding Cisco CVE-2018-0417
  2018/0xxx/CVE-2018-0417.json
Labels: JSON Valid, Ownership Validated, accepted

#1189 Ibm20181018 105930
  2018/1xxx/CVE-2018-1724.json
Labels: JSON Valid, Ownership Validated, accepted

#1190 Publish CVE-2018-11079,11080,11756,11758,15765
  2018/11xxx/CVE-2018-11079.json
  2018/11xxx/CVE-2018-11080.json
  2018/15xxx/CVE-2018-15756.json
  2018/15xxx/CVE-2018-15758.json
  2018/15xxx/CVE-2018-15765.json
Labels: JSON Valid, Ownership Validated, accepted

#1191 Bill Situ <Bill.Situ@Oracle.com>
  2018/3xxx/CVE-2018-3128.json
  2018/3xxx/CVE-2018-3131.json
  2018/3xxx/CVE-2018-3136.json
  2018/3xxx/CVE-2018-3139.json
  2018/3xxx/CVE-2018-3149.json
  2018/3xxx/CVE-2018-3169.json
  2018/3xxx/CVE-2018-3180.json
  2018/3xxx/CVE-2018-3183.json
  2018/3xxx/CVE-2018-3209.json
  2018/3xxx/CVE-2018-3211.json
  2018/3xxx/CVE-2018-3214.json
Labels: JSON Valid, Ownership Validated

#1193 Ibm20181022 7358
  2018/1xxx/CVE-2018-1850.json
Labels: JSON Valid, Ownership Validated, accepted

#1195 Add CVE-2018-13400 CVE-2018-13401 CVE-2018-13402
  2018/13xxx/CVE-2018-13400.json
  2018/13xxx/CVE-2018-13401.json
  2018/13xxx/CVE-2018-13402.json
Labels: JSON Valid, Ownership Validated, accepted

#1196 CVE-2018-16837
  2018/16xxx/CVE-2018-16837.json
Labels: JSON Valid, Ownership Validated, accepted

#1197 Adding CVE-2018-18589
  2018/18xxx/CVE-2018-18589.json
Labels: JSON Valid, accepted

#1198 Ibm20181024 74137
  2018/1xxx/CVE-2018-1541.json
Labels: accepted

#1200 Bill Situ <Bill.Situ@Oracle.com>
  2018/3xxx/CVE-2018-3253.json
Labels: JSON Valid, Ownership Validated, accepted

#1201 Adding Cisco CVE-2018-15442
  2018/15xxx/CVE-2018-15442.json
Labels: JSON Valid, Ownership Validated, accepted

#1203 CVE-2018-14665
  2018/14xxx/CVE-2018-14665.json
Labels: JSON Valid, Ownership Validated, accepted

#1206 Qualcomm 10/26/2018 CVE publish
  2017/18xxx/CVE-2017-18124.json
  2017/18xxx/CVE-2017-18308.json
  2017/18xxx/CVE-2017-18309.json
  2017/18xxx/CVE-2017-18310.json
  2017/18xxx/CVE-2017-18311.json
  2018/11xxx/CVE-2018-11305.json
  2018/11xxx/CVE-2018-11821.json
  2018/11xxx/CVE-2018-11822.json
  2018/11xxx/CVE-2018-11824.json
  2018/11xxx/CVE-2018-11828.json
  2018/11xxx/CVE-2018-11846.json
  2018/11xxx/CVE-2018-11849.json
  2018/11xxx/CVE-2018-11850.json
  2018/11xxx/CVE-2018-11853.json
  2018/11xxx/CVE-2018-11854.json
  2018/11xxx/CVE-2018-11950.json
  2018/11xxx/CVE-2018-11951.json
  2018/3xxx/CVE-2018-3588.json
  2018/5xxx/CVE-2018-5866.json
  2018/5xxx/CVE-2018-5914.json
Labels: JSON Valid, Ownership Validated, accepted

#1204 systemd issues reported by Jann Horn and Felix Wilhelm
  2018/15xxx/CVE-2018-15686.json
  2018/15xxx/CVE-2018-15687.json
  2018/15xxx/CVE-2018-15688.json
Labels: JSON Valid, Ownership Validated, accepted

#1205 typo fix epxlicitly to explicitly
  CONTRIBUTING.md
Labels: JSON Valid

#1207 CVE-2018-6559
  2018/6xxx/CVE-2018-6559.json
Labels: JSON Valid, Ownership Validated, accepted

#1212 Ibm20181029 103623
  2018/1xxx/CVE-2018-1380.json
  2018/1xxx/CVE-2018-1766.json
  2018/1xxx/CVE-2018-1767.json
Labels: accepted

#1208 Qualcomm 10/29/2018 CVE publish
  2017/18xxx/CVE-2017-18281.json
  2018/11xxx/CVE-2018-11856.json
  2018/11xxx/CVE-2018-11857.json
  2018/11xxx/CVE-2018-11858.json
  2018/11xxx/CVE-2018-11859.json
  2018/11xxx/CVE-2018-11861.json
  2018/11xxx/CVE-2018-11862.json
  2018/11xxx/CVE-2018-11865.json
  2018/11xxx/CVE-2018-11866.json
  2018/11xxx/CVE-2018-11867.json
  2018/11xxx/CVE-2018-11870.json
  2018/11xxx/CVE-2018-11871.json
  2018/11xxx/CVE-2018-11872.json
  2018/11xxx/CVE-2018-11873.json
  2018/11xxx/CVE-2018-11874.json
  2018/11xxx/CVE-2018-11875.json
  2018/11xxx/CVE-2018-11876.json
  2018/11xxx/CVE-2018-11877.json
  2018/11xxx/CVE-2018-11879.json
  2018/11xxx/CVE-2018-11880.json
  2018/11xxx/CVE-2018-11882.json
  2018/11xxx/CVE-2018-11884.json
Labels: JSON Valid, Ownership Validated, accepted

#1211 Add CVE-2018-0735
  2018/0xxx/CVE-2018-0735.json
Labels: JSON Valid, Ownership Validated, accepted

#1213 ZDI assigns the following CVEs:
  2018/17xxx/CVE-2018-17615.json
  2018/17xxx/CVE-2018-17616.json
  2018/17xxx/CVE-2018-17617.json
  2018/17xxx/CVE-2018-17618.json
  2018/17xxx/CVE-2018-17619.json
  2018/17xxx/CVE-2018-17620.json
  2018/17xxx/CVE-2018-17621.json
  2018/17xxx/CVE-2018-17622.json
  2018/17xxx/CVE-2018-17623.json
  2018/17xxx/CVE-2018-17624.json
  2018/17xxx/CVE-2018-17706.json
Labels: JSON Valid, Ownership Validated, accepted

#1214 Add OpenSSL CVE-2018-0734
  2018/0xxx/CVE-2018-0734.json
Labels: JSON Valid, Ownership Validated, accepted

#1215 CVE-2016-2121
  2016/2xxx/CVE-2016-2121.json
Labels: JSON Valid, Ownership Validated, accepted

#1216 CVE-2016-5402
  2016/5xxx/CVE-2016-5402.json
Labels: JSON Valid, Ownership Validated, accepted

#1219 Ibm20181031 83213
  2018/1xxx/CVE-2018-1851.json
Labels: JSON Valid, Ownership Validated, accepted

#1220 Synology-SA-18:36
  2018/13xxx/CVE-2018-13281.json
Labels: JSON Valid, Ownership Validated, accepted

#1221 Synology-SA-18:37
  2018/13xxx/CVE-2018-13282.json
Labels: JSON Valid, Ownership Validated, accepted

#1223 CVE-2018-16839
  2018/16xxx/CVE-2018-16839.json
Labels: JSON Valid, Ownership Validated, accepted

#1224 CVE-2018-16842
  2018/16xxx/CVE-2018-16842.json
Labels: JSON Valid, Ownership Validated, accepted

#1226 CVE-2018-14654
  2018/14xxx/CVE-2018-14654.json
Labels: JSON Valid, Ownership Validated, accepted

#1227 CVE-2018-14653
  2018/14xxx/CVE-2018-14653.json
Labels: JSON Valid, Ownership Validated, accepted

#1228 CVE-2018-14659
  2018/14xxx/CVE-2018-14659.json
Labels: JSON Valid, Ownership Validated, accepted

#1231 CVE-2018-14651
  2018/14xxx/CVE-2018-14651.json
Labels: JSON Valid, Ownership Validated, accepted

#1234 CVE-2016-6328
  2016/6xxx/CVE-2016-6328.json
Labels: JSON Valid, Ownership Validated, accepted
