Repository CVEProject/cvelist, pull requests merged in 2018-08, with the labels that each got.

#868 CVE-2016-8616
  2016/8xxx/CVE-2016-8616.json
Labels: JSON Valid, Ownership Validated, accepted

#869 Publish CVE-2018-11050
  2018/11xxx/CVE-2018-11050.json
Labels: JSON Valid, Ownership Validated, accepted

#870 CVE-2016-8619
  2016/8xxx/CVE-2016-8619.json
Labels: JSON Valid, Ownership Validated, accepted

#873 CVE-2016-8615
  2016/8xxx/CVE-2016-8615.json
Labels: JSON Valid, Ownership Validated, accepted

#874 CVE-2016-8634
  2016/8xxx/CVE-2016-8634.json
Labels: JSON Valid, Ownership Validated, accepted

#875 CVE-2016-8637
  2016/8xxx/CVE-2016-8637.json
Labels: JSON Valid, Ownership Validated, accepted

#881 reserved CVEs
  2018/1000xxx/CVE-2018-1000624.json
  2018/1000xxx/CVE-2018-1000625.json
  2018/1000xxx/CVE-2018-1000626.json
  2018/1000xxx/CVE-2018-1000627.json
  2018/1000xxx/CVE-2018-1000628.json
  2018/1000xxx/CVE-2018-1000629.json
  2018/1000xxx/CVE-2018-1000630.json
  2018/1000xxx/CVE-2018-1000631.json
Labels: JSON Valid, Ownership Validated, accepted

#877 CVE-2016-8639
  2016/8xxx/CVE-2016-8639.json
Labels: JSON Valid, Ownership Validated, accepted

#878 CVE-2016-8635
  2016/8xxx/CVE-2016-8635.json
Labels: JSON Valid, Ownership Validated, accepted

#879 CVE-2016-8641
  2016/8xxx/CVE-2016-8641.json
Labels: JSON Valid, Ownership Validated, accepted

#883 CVE-2016-8608
  2016/8xxx/CVE-2016-8608.json
Labels: JSON Valid, Ownership Validated, accepted

#871 CVE-2018-10916
  2018/10xxx/CVE-2018-10916.json
Labels: JSON Valid, Ownership Validated, accepted

#887 CVE-2016-9581
  2016/9xxx/CVE-2016-9581.json
Labels: JSON Valid, Ownership Validated, accepted

#884 CVE-2016-8654
  2016/8xxx/CVE-2016-8654.json
Labels: JSON Valid, Ownership Validated, accepted

#885 CVE-2016-8651
  2016/8xxx/CVE-2016-8651.json
Labels: JSON Valid, Ownership Validated, accepted

#888 CVE-2016-9579
  2016/9xxx/CVE-2016-9579.json
Labels: JSON Valid, Ownership Validated, accepted

#889 CVE-2016-9580
  2016/9xxx/CVE-2016-9580.json
Labels: JSON Valid, Ownership Validated, accepted

#890 CVE-2016-9583
  2016/9xxx/CVE-2016-9583.json
Labels: JSON Valid, Ownership Validated, accepted

#891 CVE-2016-8609
  2016/8xxx/CVE-2016-8609.json
Labels: JSON Valid, Ownership Validated

#893 Ibm20180801 104250
  2018/1xxx/CVE-2018-1595.json
  2018/1xxx/CVE-2018-1638.json
Labels: JSON Valid, Ownership Validated, accepted

#894 CVE-2018-10894
  2018/10xxx/CVE-2018-10894.json
Labels: JSON Valid, Ownership Validated, accepted

#895 CVE-2018-10896
  2018/10xxx/CVE-2018-10896.json
Labels: JSON Valid, Ownership Validated, accepted

#896 CVE-2018-10897
  2018/10xxx/CVE-2018-10897.json
Labels: JSON Valid, Ownership Validated, accepted

#897 Bill Situ <Bill.Situ@oracle.com>
  2018/2xxx/CVE-2018-2933.json
  2018/3xxx/CVE-2018-3108.json
  2018/3xxx/CVE-2018-3109.json
Labels: JSON Valid, Ownership Validated, accepted

#898 CVE-2018-12448
  2018/12xxx/CVE-2018-12448.json
Labels: JSON Valid, Ownership Validated, accepted

#899 CVE-2018-10920
  2018/10xxx/CVE-2018-10920.json
Labels: JSON Valid, Ownership Validated, accepted

#900 Ibm20180802 84928
  2018/1xxx/CVE-2018-1554.json
Labels: accepted

#901 CVE-2018-10921
  2018/10xxx/CVE-2018-10921.json
Labels: JSON Valid, Ownership Validated, accepted

#902 CVE-2018-10922
  2018/10xxx/CVE-2018-10922.json
Labels: JSON Valid, Ownership Validated, accepted

#904 Ibm20180803 10384
  2018/1xxx/CVE-2018-1524.json
Labels: accepted

#905 CVE-2018-9866
  2018/9xxx/CVE-2018-9866.json
Labels: JSON Valid, Ownership Validated, accepted, question

#906 Ibm20180806 83252
  2017/1xxx/CVE-2017-1366.json
  2017/1xxx/CVE-2017-1368.json
  2017/1xxx/CVE-2017-1396.json
  2017/1xxx/CVE-2017-1409.json
  2017/1xxx/CVE-2017-1411.json
  2017/1xxx/CVE-2017-1412.json
  2017/1xxx/CVE-2017-1755.json
  2018/1xxx/CVE-2018-1422.json
  2018/1xxx/CVE-2018-1528.json
  2018/1xxx/CVE-2018-1551.json
Labels: accepted

#907 CVE-2018-5390 - Linux vulnerability
  2018/5xxx/CVE-2018-5390.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#908 CVE-2017-2654
  2017/2xxx/CVE-2017-2654.json
Labels: JSON Valid, Ownership Validated

#909 Ibm20180807 6613
  2018/1xxx/CVE-2018-1690.json
Labels: accepted

#910 CVE from VU#304725
  2018/5xxx/CVE-2018-5383.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#914 Cve 2014 0085
  2014/0xxx/CVE-2014-0085.json
Labels: JSON Valid, accepted

#915 Bill Situ <Bill.Situ@Oracle.com>
  2018/3xxx/CVE-2018-3108.json
Labels: JSON Valid, Ownership Validated, accepted

#916 CVE-2018-10908
  2018/10xxx/CVE-2018-10908.json
Labels: JSON Valid, Ownership Validated, accepted

#918 CVE-2018-10915
  2018/10xxx/CVE-2018-10915.json
Labels: JSON Valid, Ownership Validated, accepted

#919 CVE-2018-10931
  2018/10xxx/CVE-2018-10931.json
Labels: JSON Valid, Ownership Validated, accepted

#917 CVE-2018-10925
  2018/10xxx/CVE-2018-10925.json
Labels: JSON Valid, Ownership Validated, accepted

#755 Updating Version numbers for CVE-2017-8046
  2017/8xxx/CVE-2017-8046.json
Labels: JSON Valid, Ownership Validated, accepted

#921 Add CVE-2018-13390
  2018/13xxx/CVE-2018-13390.json
Labels: JSON Valid, Ownership Validated, accepted

#922 Bill Situ <Bill.Situ@Oracle.com>
  2018/3xxx/CVE-2018-3110.json
Labels: JSON Valid, Ownership Validated, accepted

#923 Add CVE-2018-13392
  2018/13xxx/CVE-2018-13392.json
Labels: JSON Valid, Ownership Validated, accepted

#924 Ibm20180813 11342
  2016/2xxx/CVE-2016-2922.json
  2017/1xxx/CVE-2017-1286.json
  2017/1xxx/CVE-2017-1749.json
Labels: accepted

#925 CVE-2018-10864
  2018/10xxx/CVE-2018-10864.json
Labels: JSON Valid, Ownership Validated, accepted

#926 CVE-2017-7500
  2017/7xxx/CVE-2017-7500.json
Labels: JSON Valid, Ownership Validated, accepted

#927 CVE-2018-10842
  2018/10xxx/CVE-2018-10842.json
Labels: JSON Valid, Ownership Validated, accepted

#928 CVE-2017-15138
  2017/15xxx/CVE-2017-15138.json
Labels: JSON Valid, Ownership Validated, accepted

#929 Correction on version affected for CVE-2018-1258
  2018/1xxx/CVE-2018-1258.json
Labels: JSON Valid, Ownership Validated, accepted

#930 Add CVE-2016-4975
  2016/4xxx/CVE-2016-4975.json
Labels: JSON Valid, Ownership Validated, accepted

#931 CVE for VU#307144
  2018/5xxx/CVE-2018-5392.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#932 CVE-2018-12537
  2018/12xxx/CVE-2018-12537.json
Labels: JSON Valid, Ownership Validated, accepted

#933 CVE-2018-12539
  2018/12xxx/CVE-2018-12539.json
Labels: JSON Valid, Ownership Validated, accepted

#934 Add CVE-2018-13393 CVE-2018-13394
  2018/13xxx/CVE-2018-13393.json
  2018/13xxx/CVE-2018-13394.json
Labels: JSON Valid, Ownership Validated, accepted

#935 Ibm20180815 10343
  2018/1xxx/CVE-2018-1455.json
Labels: JSON Valid, Ownership Validated, accepted

#936 CVE-2018-10917
  2018/10xxx/CVE-2018-10917.json
Labels: JSON Valid, Ownership Validated, accepted

#938 Ibm20180816 82122
  2018/1xxx/CVE-2018-1715.json
Labels: JSON Valid, Ownership Validated, accepted

#940 CVE-2018-10873
  2018/10xxx/CVE-2018-10873.json
Labels: JSON Valid, Ownership Validated, accepted

#941 Ibm20180817 1141
  2017/1xxx/CVE-2017-1732.json
Labels: JSON Valid, Ownership Validated, accepted

#942 Add CVE-2011-2765 information
  2011/2xxx/CVE-2011-2765.json
Labels: JSON Valid, accepted

#945 more fresh CVEs
  2018/1000xxx/CVE-2018-1000632.json
  2018/1000xxx/CVE-2018-1000633.json
  2018/1000xxx/CVE-2018-1000634.json
  2018/1000xxx/CVE-2018-1000635.json
  2018/1000xxx/CVE-2018-1000636.json
  2018/1000xxx/CVE-2018-1000637.json
  2018/1000xxx/CVE-2018-1000638.json
  2018/1000xxx/CVE-2018-1000639.json
  2018/1000xxx/CVE-2018-1000640.json
  2018/1000xxx/CVE-2018-1000641.json
  2018/1000xxx/CVE-2018-1000642.json
  2018/1000xxx/CVE-2018-1000643.json
  2018/1000xxx/CVE-2018-1000644.json
  2018/1000xxx/CVE-2018-1000645.json
  2018/1000xxx/CVE-2018-1000646.json
  2018/1000xxx/CVE-2018-1000647.json
  2018/1000xxx/CVE-2018-1000648.json
  2018/1000xxx/CVE-2018-1000649.json
  2018/1000xxx/CVE-2018-1000650.json
  2018/1000xxx/CVE-2018-1000651.json
  2018/1000xxx/CVE-2018-1000652.json
  2018/1000xxx/CVE-2018-1000653.json
  2018/1000xxx/CVE-2018-1000654.json
  2018/1000xxx/CVE-2018-1000655.json
  2018/1000xxx/CVE-2018-1000656.json
  2018/1000xxx/CVE-2018-1000657.json
Labels: JSON Valid, Ownership Validated, accepted

#947 Ibm20180820 113643
  2017/1xxx/CVE-2017-1753.json
  2018/1xxx/CVE-2018-1394.json
  2018/1xxx/CVE-2018-1517.json
  2018/1xxx/CVE-2018-1656.json
Labels: JSON Valid, Ownership Validated, accepted

#948 Update CVE-2018-6692.json
  2018/6xxx/CVE-2018-6692.json
Labels: JSON Valid, Ownership Validated, accepted

#949 Update CVE-2018-6557 - base-files
  2018/6xxx/CVE-2018-6557.json
Labels: JSON Valid, Ownership Validated, accepted

#950 CVE-2018-10932
  2018/10xxx/CVE-2018-10932.json
Labels: JSON Valid, Ownership Validated, accepted

#951 CVE-2018-10902
  2018/10xxx/CVE-2018-10902.json
Labels: JSON Valid, Ownership Validated, accepted

#956 Ibm20180822 6387
  2018/1xxx/CVE-2018-1599.json
Labels: accepted

#955 CVE-2018-10844
  2018/10xxx/CVE-2018-10844.json
Labels: JSON Valid, Ownership Validated, accepted

#957 CVE-2018-1140
  2018/1xxx/CVE-2018-1140.json
Labels: JSON Valid, Ownership Validated, accepted

#952 CVE-2018-10884
  2018/10xxx/CVE-2018-10884.json
Labels: JSON Valid, Ownership Validated, accepted

#958 CVE-2018-1139
  2018/1xxx/CVE-2018-1139.json
Labels: JSON Valid, Ownership Validated, accepted

#962 CVE-2017-7513
  2017/7xxx/CVE-2017-7513.json
Labels: JSON Valid, Ownership Validated, accepted

#963 CVE-2017-7528
  2017/7xxx/CVE-2017-7528.json
Labels: JSON Valid, Ownership Validated, accepted

#964 CVE-2017-2662
  2017/2xxx/CVE-2017-2662.json
Labels: JSON Valid, Ownership Validated, accepted

#965 CVE-2017-2627
  2017/2xxx/CVE-2017-2627.json
Labels: JSON Valid, Ownership Validated

#960 CVE-2018-10918
  2018/10xxx/CVE-2018-10918.json
Labels: JSON Valid, Ownership Validated, accepted

#961 CVE-2018-10919
  2018/10xxx/CVE-2018-10919.json
Labels: JSON Valid, Ownership Validated, accepted

#966 CVE-2017-2635
  2017/2xxx/CVE-2017-2635.json
Labels: JSON Valid, Ownership Validated, accepted

#967 CVE-2016-9605
  2016/9xxx/CVE-2016-9605.json
Labels: JSON Valid, Ownership Validated, accepted

#968 more jenkins
  2018/1999xxx/CVE-2018-1999042.json
  2018/1999xxx/CVE-2018-1999043.json
  2018/1999xxx/CVE-2018-1999044.json
  2018/1999xxx/CVE-2018-1999045.json
  2018/1999xxx/CVE-2018-1999046.json
  2018/1999xxx/CVE-2018-1999047.json
Labels: JSON Valid, Ownership Validated, accepted

#946 Added ref url for recent partial fix of CVE-2014-5462
  2014/5xxx/CVE-2014-5462.json
Labels: JSON Valid, accepted

#969 CVE-2018-6558
  2018/6xxx/CVE-2018-6558.json
Labels: JSON Valid, Ownership Validated, accepted

#971 Ibm20180824 6346
  2018/1xxx/CVE-2018-1699.json
  2018/1xxx/CVE-2018-1722.json
  2018/1xxx/CVE-2018-1755.json
Labels: JSON Valid, Ownership Validated, accepted

#972 Publish CVE-2018-11061,11065
  2018/11xxx/CVE-2018-11061.json
  2018/11xxx/CVE-2018-11065.json
Labels: JSON Valid, Ownership Validated, accepted

#973 CVE-2018-10938
  2018/10xxx/CVE-2018-10938.json
Labels: JSON Valid, Ownership Validated, accepted

#974 Ibm20180827 94259
  2018/1xxx/CVE-2018-1644.json
Labels: accepted

#975 CVE-2017-15139.json
  2017/15xxx/CVE-2017-15139.json
Labels: JSON Valid, Ownership Validated, accepted

#977 Ibm20180828 6158
  2018/1xxx/CVE-2018-1705.json
Labels: JSON Valid, Ownership Validated, accepted

#976 Add CVE-2018-13391 CVE-2018-13395
  2018/13xxx/CVE-2018-13391.json
  2018/13xxx/CVE-2018-13395.json
Labels: JSON Valid, Ownership Validated, accepted

#978 CVE-2018-14619
  2018/14xxx/CVE-2018-14619.json
Labels: JSON Valid, Ownership Validated, accepted

#979 ZDI assigns the following CVEs:
  2018/11xxx/CVE-2018-11615.json
  2018/11xxx/CVE-2018-11616.json
  2018/14xxx/CVE-2018-14317.json
Labels: JSON Valid, Ownership Validated, accepted

#980 CVE-2018-10936
  2018/10xxx/CVE-2018-10936.json
Labels: JSON Valid, Ownership Validated, accepted

#981 CVE-2018-14621
  2018/14xxx/CVE-2018-14621.json
Labels: JSON Valid, Ownership Validated, accepted

#982 CVE-2018-14622
  2018/14xxx/CVE-2018-14622.json
Labels: JSON Valid, Ownership Validated, accepted

#983 Ibm20180830 93942
  2016/0xxx/CVE-2016-0205.json
  2016/0xxx/CVE-2016-0234.json
  2016/0xxx/CVE-2016-0373.json
Labels: accepted

#986 20180830 1248
  2018/6xxx/CVE-2018-6498.json
Labels: JSON Valid, Ownership Validated, accepted

#991 Update to reflect new release that also includes the security changes.
  2018/12xxx/CVE-2018-12408.json
Labels: JSON Valid, Ownership Validated
