Repository CVEProject/cvelist, pull requests merged in 2018-03, with the labels that each got.

#335 Adding CVE-2018-6490
  2018/6xxx/CVE-2018-6490.json
Labels: JSON Valid, Ownership Validated, accepted

#337 IBM20180302
  2017/1xxx/CVE-2017-1654.json
  2017/1xxx/CVE-2017-1787.json
  2018/1xxx/CVE-2018-1373.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#338 URGENT CVE-2018-1000115
  2018/1000xxx/CVE-2018-1000115.json
Labels: JSON Valid, Ownership Validated, accepted

#332 more cves
  2018/1000xxx/CVE-2018-1000100.json
  2018/1000xxx/CVE-2018-1000101.json
Labels: JSON Valid, Ownership Validated, accepted, needs-work, staged

#339 Some more CVE's with nice grammar =)
  2018/1000xxx/CVE-2018-1000116.json
  2018/1000xxx/CVE-2018-1000117.json
  2018/1000xxx/CVE-2018-1000118.json
Labels: JSON Valid, Ownership Validated, accepted

#340 CVE-2018-1000119
  2018/1000xxx/CVE-2018-1000119.json
Labels: JSON Valid, Ownership Validated, accepted

#342 updated affects in CVE-2018-1000119
  2018/1000xxx/CVE-2018-1000119.json
Labels: JSON Valid, Ownership Validated, accepted

#344 Bill Situ <Bill.Situ@oracle.com>
  2018/2xxx/CVE-2018-2575.json
Labels: JSON Valid, Ownership Validated, accepted

#347 accidental duplicates created
  2018/1000xxx/CVE-2018-1000102.json
  2018/1000xxx/CVE-2018-1000103.json
Labels: JSON Valid, Ownership Validated, accepted

#348 more jenkins vulns
  2018/1000xxx/CVE-2018-1000104.json
  2018/1000xxx/CVE-2018-1000105.json
  2018/1000xxx/CVE-2018-1000106.json
  2018/1000xxx/CVE-2018-1000107.json
  2018/1000xxx/CVE-2018-1000108.json
  2018/1000xxx/CVE-2018-1000109.json
  2018/1000xxx/CVE-2018-1000110.json
  2018/1000xxx/CVE-2018-1000111.json
  2018/1000xxx/CVE-2018-1000112.json
  2018/1000xxx/CVE-2018-1000113.json
  2018/1000xxx/CVE-2018-1000114.json
Labels: JSON Valid, Ownership Validated, accepted

#350 Kubernetes CVEs public now
  2017/1002xxx/CVE-2017-1002101.json
  2017/1002xxx/CVE-2017-1002102.json
Labels: JSON Valid, Ownership Validated, accepted

#351 more CVEs from public requests
  2018/1000xxx/CVE-2018-1000123.json
  2018/1000xxx/CVE-2018-1000124.json
  2018/1000xxx/CVE-2018-1000125.json
  2018/1000xxx/CVE-2018-1000126.json
  2018/1000xxx/CVE-2018-1000127.json
  2018/1000xxx/CVE-2018-1000128.json
Labels: JSON Valid, Ownership Validated, accepted

#352 IBM20180313
  2017/1xxx/CVE-2017-1741.json
  2018/1xxx/CVE-2018-1386.json
  2018/1xxx/CVE-2018-1435.json
  2018/1xxx/CVE-2018-1437.json
  2018/1xxx/CVE-2018-1441.json
  2018/1xxx/CVE-2018-1444.json
Labels: JSON Valid, Ownership Validated, accepted

#353 more cves
  2018/1000xxx/CVE-2018-1000129.json
  2018/1000xxx/CVE-2018-1000130.json
  2018/1000xxx/CVE-2018-1000131.json
  2018/1000xxx/CVE-2018-1000132.json
Labels: JSON Valid, Ownership Validated, accepted

#354 curl cves
  2018/1000xxx/CVE-2018-1000120.json
  2018/1000xxx/CVE-2018-1000121.json
  2018/1000xxx/CVE-2018-1000122.json
Labels: JSON Valid, Ownership Validated, accepted

#355 CVE-2018-1077
  2018/1xxx/CVE-2018-1077.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#358 more cves
  2018/1000xxx/CVE-2018-1000133.json
  2018/1000xxx/CVE-2018-1000134.json
Labels: JSON Valid, Ownership Validated, accepted

#356 CVE-2018-1078
  2018/1xxx/CVE-2018-1078.json
Labels: JSON Valid, Ownership Validated, accepted

#359 CVE-2018-5551, CVE-2018-5552, DocuTrac
  2018/5xxx/CVE-2018-5551.json
  2018/5xxx/CVE-2018-5552.json
Labels: JSON Valid, Ownership Validated, Signature Warning

#360 ZDI assigns the following CVEs:
  2018/1xxx/CVE-2018-1171.json
Labels: JSON Valid, Ownership Validated, accepted

#361 CVE-2018-1000135
  2018/1000xxx/CVE-2018-1000135.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#362 publish CVE-2011-3178
  2011/3xxx/CVE-2011-3178.json
Labels: JSON Valid, Ownership Validated, accepted

#363 CVE-2018-1000136 reserved
  2018/1000xxx/CVE-2018-1000136.json
Labels: JSON Valid, Ownership Validated, Signature Warning

#366 IBM20180321
  2016/9xxx/CVE-2016-9711.json
  2017/1xxx/CVE-2017-1571.json
  2017/1xxx/CVE-2017-1677.json
  2017/1xxx/CVE-2017-1788.json
  2017/1xxx/CVE-2017-1789.json
  2018/1xxx/CVE-2018-1426.json
  2018/1xxx/CVE-2018-1427.json
  2018/1xxx/CVE-2018-1428.json
  2018/1xxx/CVE-2018-1448.json
Labels: JSON Valid, Ownership Validated, accepted

#368 jpcert20180322 batch
  2018/0xxx/CVE-2018-0534.json
  2018/0xxx/CVE-2018-0535.json
  2018/0xxx/CVE-2018-0536.json
  2018/0xxx/CVE-2018-0537.json
  2018/0xxx/CVE-2018-0538.json
  2018/0xxx/CVE-2018-0539.json
  2018/0xxx/CVE-2018-0540.json
  2018/0xxx/CVE-2018-0541.json
  2018/0xxx/CVE-2018-0542.json
  2018/0xxx/CVE-2018-0552.json
Labels: JSON Valid, Ownership Validated, accepted

#369 CVE-2018-1207,1211
  2018/1xxx/CVE-2018-1207.json
  2018/1xxx/CVE-2018-1211.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#370 CVE-2017-1000493 ref update
  2017/1000xxx/CVE-2017-1000493.json
Labels: JSON Valid, Ownership Validated, accepted

#371 IBM20180323
  2017/1xxx/CVE-2017-1524.json
  2017/1xxx/CVE-2017-1602.json
  2017/1xxx/CVE-2017-1629.json
  2017/1xxx/CVE-2017-1655.json
  2017/1xxx/CVE-2017-1762.json
  2018/1xxx/CVE-2018-1429.json
Labels: JSON Valid, Ownership Validated, accepted

#372 CVE-2018-1000136 public
  2018/1000xxx/CVE-2018-1000136.json
Labels: JSON Valid, Ownership Validated, accepted

#373 some CVEs
  2018/1000xxx/CVE-2018-1000137.json
  2018/1000xxx/CVE-2018-1000138.json
  2018/1000xxx/CVE-2018-1000139.json
  2018/1000xxx/CVE-2018-1000140.json
  2018/1000xxx/CVE-2018-1000141.json
Labels: JSON Valid, Ownership Validated, accepted

#375 CVE-2018-1231,1266,1267
  2018/1xxx/CVE-2018-1231.json
  2018/1xxx/CVE-2018-1266.json
  2018/1xxx/CVE-2018-1267.json
Labels: JSON Valid, Ownership Validated

#376 Add CVEs for new OpenSSL vulnerabilities
  2018/0xxx/CVE-2018-0733.json
  2018/0xxx/CVE-2018-0739.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#377 Publish CVE-2018-1205,1237,1238
  2018/1xxx/CVE-2018-1205.json
  2018/1xxx/CVE-2018-1237.json
  2018/1xxx/CVE-2018-1238.json
Labels: JSON Valid, Ownership Validated

#378 Add CVE-2018-5223 CVE-2018-5224
  2018/5xxx/CVE-2018-5223.json
  2018/5xxx/CVE-2018-5224.json
Labels: JSON Valid, Ownership Validated, accepted

#380 IBM20180330
  2017/1xxx/CVE-2017-1705.json
  2017/1xxx/CVE-2017-1747.json
  2017/1xxx/CVE-2017-1756.json
  2017/1xxx/CVE-2017-1765.json
  2017/1xxx/CVE-2017-1766.json
  2017/1xxx/CVE-2017-1767.json
  2018/1xxx/CVE-2018-1384.json
  2018/1xxx/CVE-2018-1390.json
Labels: JSON Valid, Ownership Validated, accepted

#381 CVE-2017-4011 Changed vendor from Intel to McAfee.
  2017/4xxx/CVE-2017-4011.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#382 Update recent Elastic CVE IDs
  2018/3xxx/CVE-2018-3817.json
  2018/3xxx/CVE-2018-3818.json
  2018/3xxx/CVE-2018-3819.json
  2018/3xxx/CVE-2018-3820.json
  2018/3xxx/CVE-2018-3821.json
  2018/3xxx/CVE-2018-3822.json
Labels: JSON Valid, Ownership Validated, accepted
