Repository CVEProject/cvelist, pull requests merged in 2018-06, with the labels that each got.

#551 Synology-SA-18:11
  2018/8xxx/CVE-2018-8921.json
  2018/8xxx/CVE-2018-8922.json
Labels: JSON Valid, Ownership Validated

#553 CVE-2016-1000338
  2016/1000xxx/CVE-2016-1000338.json
Labels: JSON Valid, Ownership Validated, accepted

#554 Dwf kubernetes 2018 04 13
  2018/1002xxx/CVE-2018-1002100.json
Labels: JSON Valid, Ownership Validated, accepted

#557 IBM20180604
  2017/1xxx/CVE-2017-1748.json
  2018/1xxx/CVE-2018-1600.json
Labels: JSON Valid, Ownership Validated, accepted

#558 more bouncycastle CVEs
  2016/1000xxx/CVE-2016-1000344.json
  2016/1000xxx/CVE-2016-1000345.json
  2016/1000xxx/CVE-2016-1000346.json
  2016/1000xxx/CVE-2016-1000352.json
Labels: JSON Valid, Ownership Validated, accepted

#559 Publish CVE-2018-1252
  2018/1xxx/CVE-2018-1252.json
Labels: JSON Valid, Ownership Validated

#560 CVE-2018-1000181
  2018/1000xxx/CVE-2018-1000181.json
Labels: JSON Valid, Ownership Validated, accepted

#561 CVE-2018-1000201 reserved
  2018/1000xxx/CVE-2018-1000201.json
Labels: JSON Valid, Ownership Validated, accepted

#562 CVE-2018-1000180 public
  2018/1000xxx/CVE-2018-1000180.json
Labels: JSON Valid, Ownership Validated, accepted

#563 CVE-2018-1000200 public
  2018/1000xxx/CVE-2018-1000200.json
Labels: JSON Valid, Ownership Validated, accepted

#565 Update CVE-2018-6662.json
  2018/6xxx/CVE-2018-6662.json
Labels: JSON Valid, Ownership Validated, accepted

#566 Synology-SA-18:09
  2018/8xxx/CVE-2018-8923.json
Labels: JSON Valid, Ownership Validated, accepted

#567 Synology-SA-18:12
  2018/8xxx/CVE-2018-8924.json
Labels: JSON Valid, Ownership Validated, accepted

#568 IBM20180605
  2017/1xxx/CVE-2017-1350.json
  2018/1xxx/CVE-2018-1432.json
  2018/1xxx/CVE-2018-1454.json
Labels: JSON Valid, Ownership Validated, accepted

#569 CVE-2017-7654
  2017/7xxx/CVE-2017-7654.json
Labels: JSON Valid, Ownership Validated, accepted

#570 More jenkins CVEs
  2018/1000xxx/CVE-2018-1000182.json
  2018/1000xxx/CVE-2018-1000183.json
  2018/1000xxx/CVE-2018-1000184.json
  2018/1000xxx/CVE-2018-1000185.json
  2018/1000xxx/CVE-2018-1000186.json
  2018/1000xxx/CVE-2018-1000187.json
  2018/1000xxx/CVE-2018-1000188.json
  2018/1000xxx/CVE-2018-1000189.json
  2018/1000xxx/CVE-2018-1000190.json
  2018/1000xxx/CVE-2018-1000191.json
Labels: JSON Valid, Ownership Validated, accepted

#571 CVE-2017-7653
  2017/7xxx/CVE-2017-7653.json
Labels: JSON Valid, Ownership Validated

#572 May 9, 2018 jenkins CVEs catchup
  2018/1000xxx/CVE-2018-1000192.json
  2018/1000xxx/CVE-2018-1000193.json
  2018/1000xxx/CVE-2018-1000194.json
  2018/1000xxx/CVE-2018-1000195.json
  2018/1000xxx/CVE-2018-1000196.json
  2018/1000xxx/CVE-2018-1000197.json
  2018/1000xxx/CVE-2018-1000198.json
  2018/1000xxx/CVE-2018-1000202.json
Labels: JSON Valid, Ownership Validated, accepted

#573 IBM20180606
  2017/1xxx/CVE-2017-1474.json
  2017/1xxx/CVE-2017-1476.json
  2017/1xxx/CVE-2017-1480.json
  2018/1xxx/CVE-2018-1456.json
Labels: JSON Valid, Ownership Validated, accepted, question

#574 CVE-2018-1000203
  2018/1000xxx/CVE-2018-1000203.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#575 Publish CVE-2018-1265,1268,1269
  2018/1xxx/CVE-2018-1265.json
  2018/1xxx/CVE-2018-1268.json
  2018/1xxx/CVE-2018-1269.json
Labels: JSON Valid, Ownership Validated, accepted

#578 IBM20180607
  2018/1xxx/CVE-2018-1514.json
  2018/1xxx/CVE-2018-1547.json
Labels: JSON Valid, Ownership Validated, accepted

#576 Update CVE-2018-6670.json
  2018/6xxx/CVE-2018-6670.json
Labels: JSON Valid, Ownership Validated, accepted

#580 Information for CVE-2011-0467
  2011/0xxx/CVE-2011-0467.json
Labels: JSON Valid, Ownership Validated, accepted

#582 Synology-SA-18:15
  2018/8xxx/CVE-2018-8925.json
  2018/8xxx/CVE-2018-8926.json
Labels: JSON Valid, Ownership Validated, accepted

#583 information for CVE-2011-3172
  2011/3xxx/CVE-2011-3172.json
Labels: JSON Valid, Ownership Validated, accepted

#585 Synology-SA-17:79
  2017/12xxx/CVE-2017-12078.json
Labels: JSON Valid, Ownership Validated, accepted

#586 IBM20180608
  2017/1xxx/CVE-2017-1405.json
  2018/1xxx/CVE-2018-1453.json
Labels: JSON Valid, Ownership Validated, accepted

#587 CVE-2018-1000204 reserved
  2018/1000xxx/CVE-2018-1000204.json
Labels: JSON Valid, Ownership Validated, accepted

#588 Updates to CVE to show that Ubuntu 14.04 was also affected
  2018/6xxx/CVE-2018-6552.json
Labels: JSON Valid, Ownership Validated, accepted

#589 data for CVE-2011-4181
  2011/4xxx/CVE-2011-4181.json
Labels: JSON Valid, Ownership Validated, accepted

#590 CVE IDs for VU#307983 multiple vendor AMF3 Java deserialization vulnerabilities
  2017/3xxx/CVE-2017-3199.json
  2017/3xxx/CVE-2017-3200.json
  2017/3xxx/CVE-2017-3201.json
  2017/3xxx/CVE-2017-3202.json
  2017/3xxx/CVE-2017-3203.json
  2017/3xxx/CVE-2017-3206.json
  2017/3xxx/CVE-2017-3207.json
  2017/3xxx/CVE-2017-3208.json
Labels: JSON Valid, Ownership Validated, accepted

#591 CVE-2018-1075
  2018/1xxx/CVE-2018-1075.json
Labels: JSON Valid, Ownership Validated, accepted

#596 Add details for OpenSSL CVE-2018-0732
  2018/0xxx/CVE-2018-0732.json
Labels: JSON Valid, Ownership Validated

#593 Update CVE-2017-3960.json
  2017/3xxx/CVE-2017-3960.json
Labels: JSON Valid, Ownership Validated, accepted

#594 Update CVE-2017-3962.json
  2017/3xxx/CVE-2017-3962.json
Labels: JSON Valid, Ownership Validated, accepted

#595 data for CVE-2011-4182
  2011/4xxx/CVE-2011-4182.json
Labels: JSON Valid, Ownership Validated, accepted

#597 CVE-2018-1103
  2018/1xxx/CVE-2018-1103.json
Labels: JSON Valid, Ownership Validated, accepted

#600 Advisories for TIBCO Runtime Agent and TIBCO Administrator - Enterprise Edition
  2018/5xxx/CVE-2018-5432.json
  2018/5xxx/CVE-2018-5433.json
  2018/5xxx/CVE-2018-5434.json
Labels: JSON Valid, Ownership Validated, accepted

#603 data for CVE-2011-4183
  2011/4xxx/CVE-2011-4183.json
Labels: JSON Valid, Ownership Validated, accepted

#604 IBM20180613
  2018/1xxx/CVE-2018-1393.json
  2018/1xxx/CVE-2018-1431.json
Labels: JSON Valid, Ownership Validated, accepted

#605 Fix formatting
  CONTRIBUTING.md
Labels: JSON Valid, Ownership Validated, Signature Warning

#606 Fixed references for CVE-2017-3208
  2017/3xxx/CVE-2017-3208.json
Labels: JSON Valid, Ownership Validated, Signature Warning, accepted

#607 CVE-2018-1121
  2018/1xxx/CVE-2018-1121.json
Labels: JSON Valid, Ownership Validated, accepted

#608 CVE-2018-10850
  2018/10xxx/CVE-2018-10850.json
Labels: JSON Valid, Ownership Validated, accepted

#599 Update CVE-2017-3968.json
  2017/3xxx/CVE-2017-3968.json
Labels: JSON Valid, Ownership Validated, accepted

#601 Update CVE-2017-3907.json
  2017/3xxx/CVE-2017-3907.json
Labels: JSON Valid, Ownership Validated, accepted

#602 Update CVE-2017-3936.json
  2017/3xxx/CVE-2017-3936.json
Labels: JSON Valid, Ownership Validated, accepted

#610 Synology-SA-18:16
  2018/8xxx/CVE-2018-8927.json
Labels: JSON Valid, Ownership Validated, accepted

#611 CVE-2018-1085
  2018/1xxx/CVE-2018-1085.json
Labels: JSON Valid, Ownership Validated, accepted

#612 Publishing for CVE-2018-6671
  2018/6xxx/CVE-2018-6671.json
Labels: JSON Valid, Ownership Validated, accepted

#614 Publishing CVE-2018-6672
  2018/6xxx/CVE-2018-6672.json
Labels: JSON Valid, Ownership Validated, accepted

#613 IBM20180615
  2018/1xxx/CVE-2018-1419.json
  2018/1xxx/CVE-2018-1460.json
Labels: JSON Valid, Ownership Validated, accepted

#616 Adding CVE-2018-6467
  2018/6xxx/CVE-2018-6497.json
Labels: JSON Valid, Ownership Validated, accepted

#617 Adding CVE-2018-6496
  2018/6xxx/CVE-2018-6496.json
Labels: JSON Valid, Ownership Validated, accepted

#618 CVE-2018-1090
  2018/1xxx/CVE-2018-1090.json
Labels: JSON Valid, Ownership Validated, accepted

#620 CVE-2018-1061
  2018/1xxx/CVE-2018-1061.json
Labels: JSON Valid, Ownership Validated, accepted

#621 CVE-2018-1073
  2018/1xxx/CVE-2018-1073.json
Labels: JSON Valid, Ownership Validated, accepted

#622 CVE-2018-1117
  2018/1xxx/CVE-2018-1117.json
Labels: JSON Valid, Ownership Validated, accepted

#623 CVE-2018-1132
  2018/1xxx/CVE-2018-1132.json
Labels: JSON Valid, Ownership Validated, accepted

#624 CVE-2018-1120
  2018/1xxx/CVE-2018-1120.json
Labels: JSON Valid, Ownership Validated, accepted

#625 CVE-2018-10841
  2018/10xxx/CVE-2018-10841.json
Labels: JSON Valid, Ownership Validated, accepted

#627 Publication of CVE for TIBCO Data Virtualization.
  2018/5xxx/CVE-2018-5428.json
Labels: JSON Valid, Ownership Validated, accepted

#628 reserved
  2018/1000xxx/CVE-2018-1000401.json
  2018/1000xxx/CVE-2018-1000402.json
  2018/1000xxx/CVE-2018-1000403.json
Labels: JSON Valid, Ownership Validated, accepted

#629 CVE-2017-2672
  2017/2xxx/CVE-2017-2672.json
Labels: JSON Valid, Ownership Validated, accepted

#630 CVE-2017-2669
  2017/2xxx/CVE-2017-2669.json
Labels: JSON Valid, Ownership Validated, accepted

#631 Publish CVE-2018-1253, CVE-2018-1254
  2018/1xxx/CVE-2018-1253.json
  2018/1xxx/CVE-2018-1254.json
Labels: JSON Valid, Ownership Validated, accepted

#632 more reservations
  2018/1000xxx/CVE-2018-1000500.json
  2018/1000xxx/CVE-2018-1000501.json
  2018/1000xxx/CVE-2018-1000502.json
  2018/1000xxx/CVE-2018-1000503.json
  2018/1000xxx/CVE-2018-1000504.json
  2018/1000xxx/CVE-2018-1000505.json
  2018/1000xxx/CVE-2018-1000506.json
  2018/1000xxx/CVE-2018-1000507.json
  2018/1000xxx/CVE-2018-1000508.json
  2018/1000xxx/CVE-2018-1000509.json
  2018/1000xxx/CVE-2018-1000510.json
  2018/1000xxx/CVE-2018-1000511.json
  2018/1000xxx/CVE-2018-1000512.json
  2018/1000xxx/CVE-2018-1000513.json
  2018/1000xxx/CVE-2018-1000514.json
  2018/1000xxx/CVE-2018-1000515.json
  2018/1000xxx/CVE-2018-1000516.json
  2018/1000xxx/CVE-2018-1000517.json
  2018/1000xxx/CVE-2018-1000518.json
  2018/1000xxx/CVE-2018-1000519.json
  2018/1000xxx/CVE-2018-1000520.json
  2018/1000xxx/CVE-2018-1000521.json
  2018/1000xxx/CVE-2018-1000522.json
  2018/1000xxx/CVE-2018-1000523.json
  2018/1000xxx/CVE-2018-1000524.json
  2018/1000xxx/CVE-2018-1000525.json
  2018/1000xxx/CVE-2018-1000526.json
  2018/1000xxx/CVE-2018-1000527.json
  2018/1000xxx/CVE-2018-1000528.json
  2018/1000xxx/CVE-2018-1000529.json
  2018/1000xxx/CVE-2018-1000530.json
  2018/1000xxx/CVE-2018-1000531.json
  2018/1000xxx/CVE-2018-1000532.json
  2018/1000xxx/CVE-2018-1000533.json
  2018/1000xxx/CVE-2018-1000534.json
  2018/1000xxx/CVE-2018-1000535.json
  2018/1000xxx/CVE-2018-1000536.json
  2018/1000xxx/CVE-2018-1000537.json
  2018/1000xxx/CVE-2018-1000538.json
  2018/1000xxx/CVE-2018-1000539.json
  2018/1000xxx/CVE-2018-1000540.json
  2018/1000xxx/CVE-2018-1000541.json
  2018/1000xxx/CVE-2018-1000542.json
  2018/1000xxx/CVE-2018-1000543.json
  2018/1000xxx/CVE-2018-1000544.json
  2018/1000xxx/CVE-2018-1000545.json
  2018/1000xxx/CVE-2018-1000546.json
  2018/1000xxx/CVE-2018-1000547.json
  2018/1000xxx/CVE-2018-1000548.json
  2018/1000xxx/CVE-2018-1000549.json
  2018/1000xxx/CVE-2018-1000550.json
  2018/1000xxx/CVE-2018-1000551.json
  2018/1000xxx/CVE-2018-1000552.json
  2018/1000xxx/CVE-2018-1000553.json
  2018/1000xxx/CVE-2018-1000554.json
  2018/1000xxx/CVE-2018-1000555.json
  2018/1000xxx/CVE-2018-1000556.json
  2018/1000xxx/CVE-2018-1000557.json
  2018/1000xxx/CVE-2018-1000558.json
  2018/1000xxx/CVE-2018-1000559.json
Labels: JSON Valid, Ownership Validated, accepted

#633 CVE-2017-2668
  2017/2xxx/CVE-2017-2668.json
Labels: JSON Valid, Ownership Validated, accepted

#636 Ibm20180622 84044
  2018/1xxx/CVE-2018-1655.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#638 more reservations
  2018/1000xxx/CVE-2018-1000404.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#639 CVE-2018-1000201
  2018/1000xxx/CVE-2018-1000201.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#637 CVE-2018-12538
  2018/12xxx/CVE-2018-12538.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#640 Publish CVE-2018-11039, CVE-2018-11040, CVE-2018-11041, CVE-2018-11046
  2018/11xxx/CVE-2018-11039.json
  2018/11xxx/CVE-2018-11040.json
  2018/11xxx/CVE-2018-11041.json
  2018/11xxx/CVE-2018-11046.json
Labels: JSON Valid, accepted, staged

#643 LogicalDOC source found so these can be published
  2017/1000xxx/CVE-2017-1000021.json
  2017/1000xxx/CVE-2017-1000022.json
  2017/1000xxx/CVE-2017-1000023.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#646 CVE-2018-10852
  2018/10xxx/CVE-2018-10852.json
Labels: JSON Valid, Ownership Validated, accepted

#641 CVE-2018-1000204
  2018/1000xxx/CVE-2018-1000204.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#648 CVE-2017-7656
  2017/7xxx/CVE-2017-7656.json
Labels: JSON Valid, Ownership Validated, accepted

#649 CVE-2017-7657
  2017/7xxx/CVE-2017-7657.json
Labels: JSON Valid, Ownership Validated, accepted

#644 Dwf 2018 06 24 01
  2018/1000xxx/CVE-2018-1000205.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#609 Update CVE-2018-6667.json
  2018/6xxx/CVE-2018-6667.json
Labels: JSON Valid, accepted, staged

#650 CVE-2017-7658
  2017/7xxx/CVE-2017-7658.json
Labels: JSON Valid, Ownership Validated, accepted

#645 more jenkins
  2018/1000xxx/CVE-2018-1000600.json
  2018/1000xxx/CVE-2018-1000601.json
  2018/1000xxx/CVE-2018-1000602.json
  2018/1000xxx/CVE-2018-1000603.json
  2018/1000xxx/CVE-2018-1000604.json
  2018/1000xxx/CVE-2018-1000605.json
  2018/1000xxx/CVE-2018-1000606.json
  2018/1000xxx/CVE-2018-1000607.json
  2018/1000xxx/CVE-2018-1000608.json
  2018/1000xxx/CVE-2018-1000609.json
  2018/1000xxx/CVE-2018-1000610.json
Labels: JSON Valid, Ownership Validated, accepted

#651 CVE-2018-1072
  2018/1xxx/CVE-2018-1072.json
Labels: JSON Valid, Ownership Validated, accepted

#652 Ibm20180626 14352
  2018/1xxx/CVE-2018-1374.json
  2018/1xxx/CVE-2018-1614.json
Labels: JSON Valid, accepted

#647 CVE-2017-7465
  2017/7xxx/CVE-2017-7465.json
Labels: JSON Valid, accepted

#654 TIBCO Spotfire product family advisories.
  2018/5xxx/CVE-2018-5435.json
  2018/5xxx/CVE-2018-5436.json
  2018/5xxx/CVE-2018-5437.json
Labels: JSON Valid, Ownership Validated, accepted

#657 CVE-2018-1000531 updated
  2018/1000xxx/CVE-2018-1000531.json
Labels: JSON Valid, Ownership Validated, accepted

#658 add CVE-2017-16859
  2017/16xxx/CVE-2017-16859.json
Labels: JSON Valid, Ownership Validated, accepted

#659 Updated CVE-2018-12464, CVE-2018-12465
  2018/12xxx/CVE-2018-12464.json
  2018/12xxx/CVE-2018-12465.json
Labels: JSON Valid, accepted, staged

#660 Corrected errors in the initial Spotfire release.
  2018/5xxx/CVE-2018-5435.json
  2018/5xxx/CVE-2018-5437.json
Labels: JSON Valid, accepted, staged

#661 CVE-2018-10860
  2018/10xxx/CVE-2018-10860.json
Labels: JSON Valid, accepted, staged
