Repository CVEProject/cvelist, pull requests merged in 2019-02, with the labels that each got.

#1552 Bill Situ <Bill.Situ@oracle.com>
  2019/2xxx/CVE-2019-2527.json
Labels: JSON Valid, Ownership Validated, accepted

#1553 Publishing 2019-3604
  2019/3xxx/CVE-2019-3604.json
Labels: JSON Valid, Ownership Validated, accepted

#1556 CVE-2016-1000271
  2016/1000xxx/CVE-2016-1000271.json
Labels: JSON Valid, Ownership Validated

#1557 CVE-2016-1000276
  2016/1000xxx/CVE-2016-1000276.json
Labels: JSON Valid, Ownership Validated

#1560 Publish CVE-2018-15778
  2018/15xxx/CVE-2018-15778.json
Labels: JSON Valid, Ownership Validated, accepted

#1554 CVE-2019-3818
  2019/3xxx/CVE-2019-3818.json
Labels: JSON Valid, Ownership Validated, accepted

#1562 Ibm20190205 122450
  2017/1xxx/CVE-2017-1177.json
  2017/1xxx/CVE-2017-1198.json
  2017/1xxx/CVE-2017-1200.json
  2017/1xxx/CVE-2017-1202.json
Labels: accepted

#1564 Remove version numbers incorrectly polluting the product_name field
  2016/5xxx/CVE-2016-5393.json
  2017/9xxx/CVE-2017-9798.json
  2017/9xxx/CVE-2017-9805.json
Labels: JSON Valid

#1565 CVE-2019-3820
  2019/3xxx/CVE-2019-3820.json
Labels: JSON Valid, Ownership Validated, accepted

#1566 CVE-2019-3825
  2019/3xxx/CVE-2019-3825.json
Labels: JSON Valid, Ownership Validated, accepted

#1567 CVE-2018-16890
  2018/16xxx/CVE-2018-16890.json
Labels: JSON Valid, Ownership Validated, accepted

#1568 CVE-2019-3823
  2019/3xxx/CVE-2019-3823.json
Labels: JSON Valid, Ownership Validated, accepted

#1569 CVE-2019-3822
  2019/3xxx/CVE-2019-3822.json
Labels: JSON Valid, Ownership Validated, accepted

#1586 Ibm20190207 95152
  2018/1xxx/CVE-2018-1666.json
  2019/4xxx/CVE-2019-4008.json
Labels: accepted

#1579 Adding Cisco CVE-2019-1677
  2019/1xxx/CVE-2019-1677.json
Labels: JSON Valid, Ownership Validated, accepted

#1583 Publish CVE-2019-3704
  2019/3xxx/CVE-2019-3704.json
Labels: JSON Valid, Ownership Validated, accepted

#1577 Adding Cisco CVE-2019-1675
  2019/1xxx/CVE-2019-1675.json
Labels: JSON Valid, Ownership Validated, accepted

#1580 Adding Cisco CVE-2019-1678
  2019/1xxx/CVE-2019-1678.json
Labels: JSON Valid, Ownership Validated, accepted

#1581 Adding Cisco CVE-2019-1679
  2019/1xxx/CVE-2019-1679.json
Labels: JSON Valid, Ownership Validated, accepted

#1582 Adding Cisco CVE-2019-1680
  2019/1xxx/CVE-2019-1680.json
Labels: JSON Valid, Ownership Validated, accepted

#1571 Adding Cisco CVE-2019-1660
  2019/1xxx/CVE-2019-1660.json
Labels: JSON Valid, Ownership Validated, accepted

#1572 Adding Cisco CVE-2019-1661
  2019/1xxx/CVE-2019-1661.json
Labels: JSON Valid, Ownership Validated, accepted

#1573 Adding Cisco CVE-2019-1670
  2019/1xxx/CVE-2019-1670.json
Labels: JSON Valid, Ownership Validated, accepted

#1574 Adding Cisco CVE-2019-1671
  2019/1xxx/CVE-2019-1671.json
Labels: JSON Valid, Ownership Validated, accepted

#1576 Adding Cisco CVE-2019-1673
  2019/1xxx/CVE-2019-1673.json
Labels: JSON Valid, Ownership Validated, accepted

#1575 Adding Cisco CVE-2019-1672
  2019/1xxx/CVE-2019-1672.json
Labels: JSON Valid, Ownership Validated, accepted

#1578 Adding Cisco CVE-2019-1676
  2019/1xxx/CVE-2019-1676.json
Labels: JSON Valid, Ownership Validated, accepted

#1587 update ref and affected versions of CVE-2019-6496
  2019/6xxx/CVE-2019-6496.json
Labels: JSON Valid

#1589 CVE-2018-12547 and CVE-2018-12549.
  2018/12xxx/CVE-2018-12547.json
  2018/12xxx/CVE-2018-12549.json
Labels: JSON Valid, Ownership Validated, accepted

#1590 2018 CVE Rejections
  2018/16xxx/CVE-2018-16099.json
  2018/16xxx/CVE-2018-16100.json
  2018/16xxx/CVE-2018-16101.json
  2018/16xxx/CVE-2018-16102.json
  2018/16xxx/CVE-2018-16103.json
  2018/16xxx/CVE-2018-16104.json
  2018/16xxx/CVE-2018-16105.json
  2018/16xxx/CVE-2018-16106.json
  2018/16xxx/CVE-2018-16107.json
  2018/16xxx/CVE-2018-16108.json
  2018/16xxx/CVE-2018-16109.json
  2018/16xxx/CVE-2018-16110.json
  2018/16xxx/CVE-2018-16111.json
  2018/16xxx/CVE-2018-16112.json
  2018/16xxx/CVE-2018-16113.json
Labels: JSON Valid, Ownership Validated, accepted

#1591 Editing CVE-2014-3004
  2014/3xxx/CVE-2014-3004.json
Labels: JSON Valid, accepted

#1584 Editing CVE-2018-18895
  2018/18xxx/CVE-2018-18895.json
Labels: JSON Valid

#1593 Adding Cisco CVE-2019-1688
  2019/1xxx/CVE-2019-1688.json
Labels: JSON Valid, Ownership Validated, accepted

#1595 Publish CVE-2018-15781,CVE-2019-3782
  2018/15xxx/CVE-2018-15781.json
  2019/3xxx/CVE-2019-3782.json
Labels: JSON Valid, Ownership Validated, accepted

#1599 Publishing CVE-2019-3610
  2019/3xxx/CVE-2019-3610.json
Labels: JSON Valid, Ownership Validated, accepted

#1598 JPCERT 2019-02-13 batch
  2018/0xxx/CVE-2018-0696.json
  2018/16xxx/CVE-2018-16189.json
  2018/16xxx/CVE-2018-16190.json
  2019/5xxx/CVE-2019-5909.json
  2019/5xxx/CVE-2019-5910.json
  2019/5xxx/CVE-2019-5911.json
  2019/5xxx/CVE-2019-5912.json
  2019/5xxx/CVE-2019-5913.json
  2019/5xxx/CVE-2019-5914.json
  2019/5xxx/CVE-2019-5915.json
  2019/5xxx/CVE-2019-5916.json
Labels: JSON Valid, Ownership Validated, accepted

#1600 TIBCO Silver Fabric vulnerability.
  2018/12xxx/CVE-2018-12409.json
Labels: JSON Valid, Ownership Validated, accepted

#1604 Ibm20190215 135315
  2017/1xxx/CVE-2017-1695.json
  2018/1xxx/CVE-2018-1701.json
  2018/1xxx/CVE-2018-1727.json
  2018/1xxx/CVE-2018-1895.json
  2019/4xxx/CVE-2019-4059.json
Labels: JSON Valid, Ownership Validated, accepted

#1607 Updating runc CVE-2019-5736
  2019/5xxx/CVE-2019-5736.json
Labels: JSON Valid

#1608 CVE-2019-3812
  2019/3xxx/CVE-2019-3812.json
Labels: JSON Valid, Ownership Validated

#1561 some rejected/reserved cves
  2014/1000xxx/CVE-2014-1000000.json
  2017/1000xxx/CVE-2017-1000000.json
Labels: JSON Valid

#1610 Info for CVEs issued for Chrome Browser Release-0-M72
  2019/5xxx/CVE-2019-5754.json
  2019/5xxx/CVE-2019-5755.json
  2019/5xxx/CVE-2019-5756.json
  2019/5xxx/CVE-2019-5757.json
  2019/5xxx/CVE-2019-5758.json
  2019/5xxx/CVE-2019-5759.json
  2019/5xxx/CVE-2019-5760.json
  2019/5xxx/CVE-2019-5761.json
  2019/5xxx/CVE-2019-5762.json
  2019/5xxx/CVE-2019-5763.json
  2019/5xxx/CVE-2019-5764.json
  2019/5xxx/CVE-2019-5765.json
  2019/5xxx/CVE-2019-5766.json
  2019/5xxx/CVE-2019-5767.json
  2019/5xxx/CVE-2019-5768.json
  2019/5xxx/CVE-2019-5769.json
  2019/5xxx/CVE-2019-5770.json
  2019/5xxx/CVE-2019-5771.json
  2019/5xxx/CVE-2019-5772.json
  2019/5xxx/CVE-2019-5773.json
  2019/5xxx/CVE-2019-5774.json
  2019/5xxx/CVE-2019-5775.json
  2019/5xxx/CVE-2019-5776.json
  2019/5xxx/CVE-2019-5777.json
  2019/5xxx/CVE-2019-5778.json
  2019/5xxx/CVE-2019-5779.json
  2019/5xxx/CVE-2019-5780.json
  2019/5xxx/CVE-2019-5781.json
  2019/5xxx/CVE-2019-5782.json
  2019/5xxx/CVE-2019-5783.json
Labels: JSON Valid, Ownership Validated

#1612 Ibm20190219 112051
  2018/1xxx/CVE-2018-1996.json
Labels: JSON Valid, Ownership Validated, accepted

#1605 CVE-2018-9867
  2018/9xxx/CVE-2018-9867.json
Labels: JSON Valid, Ownership Validated, accepted

#1613 Add CVE-2018-20240 CVE-2018-20241
  2018/20xxx/CVE-2018-20240.json
  2018/20xxx/CVE-2018-20241.json
Labels: JSON Valid, Ownership Validated, accepted

#1616 Publish CVE-2019-3474 and CVE-2019-3475
  2019/3xxx/CVE-2019-3474.json
  2019/3xxx/CVE-2019-3475.json
Labels: JSON Valid, Ownership Validated

#1617 Adding Cisco CVE-2018-15380
  2018/15xxx/CVE-2018-15380.json
Labels: JSON Valid, Ownership Validated, accepted

#1615 Late publishing of CVE-2018-6687
  2018/6xxx/CVE-2018-6687.json
Labels: JSON Valid, Ownership Validated

#1618 Adding Cisco CVE-2019-1659
  2019/1xxx/CVE-2019-1659.json
Labels: JSON Valid, Ownership Validated, accepted

#1619 Adding Cisco CVE-2019-1662
  2019/1xxx/CVE-2019-1662.json
Labels: JSON Valid, Ownership Validated, accepted

#1634 Ibm20190221 11716
  2018/1xxx/CVE-2018-1944.json
  2018/1xxx/CVE-2018-1945.json
  2018/1xxx/CVE-2018-1946.json
  2018/1xxx/CVE-2018-1947.json
  2018/1xxx/CVE-2018-1948.json
  2018/1xxx/CVE-2018-1949.json
  2018/1xxx/CVE-2018-1950.json
  2018/2xxx/CVE-2018-2006.json
Labels: accepted

#1620 Adding Cisco CVE-2019-1664
  2019/1xxx/CVE-2019-1664.json
Labels: JSON Valid, Ownership Validated, accepted

#1621 Adding Cisco CVE-2019-1665
  2019/1xxx/CVE-2019-1665.json
Labels: JSON Valid, Ownership Validated, accepted

#1622 Adding Cisco CVE-2019-1666
  2019/1xxx/CVE-2019-1666.json
Labels: JSON Valid, Ownership Validated, accepted

#1623 Adding Cisco CVE-2019-1667
  2019/1xxx/CVE-2019-1667.json
Labels: JSON Valid, Ownership Validated, accepted

#1624 Adding Cisco CVE-2019-1681
  2019/1xxx/CVE-2019-1681.json
Labels: JSON Valid, Ownership Validated, accepted

#1626 Adding Cisco CVE-2019-1684
  2019/1xxx/CVE-2019-1684.json
Labels: JSON Valid, Ownership Validated, accepted

#1627 Adding Cisco CVE-2019-1685
  2019/1xxx/CVE-2019-1685.json
Labels: JSON Valid, Ownership Validated, accepted

#1629 Adding Cisco CVE-2019-1691
  2019/1xxx/CVE-2019-1691.json
Labels: JSON Valid, Ownership Validated, accepted

#1630 Adding Cisco CVE-2019-1698
  2019/1xxx/CVE-2019-1698.json
Labels: JSON Valid, Ownership Validated, accepted

#1631 Adding Cisco CVE-2019-1700
  2019/1xxx/CVE-2019-1700.json
Labels: JSON Valid, Ownership Validated, accepted

#1632 Update CVE-2019-6340.json
  2019/6xxx/CVE-2019-6340.json
Labels: JSON Valid, Ownership Validated, accepted

#1625 Adding Cisco CVE-2019-1683
  2019/1xxx/CVE-2019-1683.json
Labels: JSON Valid, Ownership Validated, accepted

#1628 Adding Cisco CVE-2019-1689
  2019/1xxx/CVE-2019-1689.json
Labels: JSON Valid, Ownership Validated, accepted

#1633 Fix a few more Apache CNA entries, some new ones since the last run, …
  2017/9xxx/CVE-2017-9790.json
  2017/9xxx/CVE-2017-9798.json
  2017/9xxx/CVE-2017-9805.json
  2018/20xxx/CVE-2018-20242.json
Labels: JSON Valid, accepted

#1635 Qualcomm_2-25-2019 CVE publish
  2018/11xxx/CVE-2018-11289.json
  2018/11xxx/CVE-2018-11820.json
  2018/11xxx/CVE-2018-11845.json
  2018/11xxx/CVE-2018-11864.json
  2018/11xxx/CVE-2018-11931.json
  2018/11xxx/CVE-2018-11932.json
  2018/11xxx/CVE-2018-11935.json
  2018/11xxx/CVE-2018-11938.json
  2018/11xxx/CVE-2018-11945.json
  2018/11xxx/CVE-2018-11948.json
  2018/13xxx/CVE-2018-13900.json
  2018/13xxx/CVE-2018-13904.json
  2018/13xxx/CVE-2018-13905.json
  2018/13xxx/CVE-2018-13912.json
  2018/13xxx/CVE-2018-13913.json
  2018/13xxx/CVE-2018-13914.json
  2018/5xxx/CVE-2018-5839.json
Labels: JSON Valid, Ownership Validated, accepted

#1641 Initial publication CVE-2019-7006
  2019/7xxx/CVE-2019-7006.json
Labels: JSON Valid, accepted

#1638 OpenSSL CVE-2019-1559: 0-byte record padding oracle
  2019/1xxx/CVE-2019-1559.json
Labels: JSON Valid, Ownership Validated, accepted

#1637 Publishing CVE-2019-3598
  2019/3xxx/CVE-2019-3598.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#1639 Publishing CVE-2019-3599
  2019/3xxx/CVE-2019-3599.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#1644 Publishing CVE-2019-3582
  2019/3xxx/CVE-2019-3582.json
Labels: JSON Valid, Ownership Validated, accepted, staged

#1642 Adding Cisco CVE-2019-1663
  2019/1xxx/CVE-2019-1663.json
Labels: JSON Valid, Ownership Validated, accepted

#1643 Adding Cisco CVE-2019-1674
  2019/1xxx/CVE-2019-1674.json
Labels: JSON Valid, Ownership Validated, accepted
