Repository CVEProject/cvelist, pull requests merged in 2019-01, with the labels that each got.

#1409 CVE-2018-16879
  2018/16xxx/CVE-2018-16879.json
Labels: JSON Valid, Ownership Validated, accepted

#1410 Qualcomm_1-3-2019 CVE publish
  2017/11xxx/CVE-2017-11004.json
  2017/18xxx/CVE-2017-18141.json
  2017/18xxx/CVE-2017-18319.json
  2017/18xxx/CVE-2017-18320.json
  2017/18xxx/CVE-2017-18321.json
  2017/18xxx/CVE-2017-18322.json
  2017/18xxx/CVE-2017-18323.json
  2017/18xxx/CVE-2017-18324.json
  2017/18xxx/CVE-2017-18326.json
  2017/18xxx/CVE-2017-18327.json
  2017/18xxx/CVE-2017-18328.json
  2017/18xxx/CVE-2017-18329.json
  2017/18xxx/CVE-2017-18330.json
Labels: JSON Valid, Ownership Validated, accepted

#1411 CVE-2018-16876
  2018/16xxx/CVE-2018-16876.json
Labels: JSON Valid, Ownership Validated, accepted

#1412 CVE-2018-16882
  2018/16xxx/CVE-2018-16882.json
Labels: JSON Valid, Ownership Validated, accepted

#1413 CVE-2018-16885
  2018/16xxx/CVE-2018-16885.json
Labels: JSON Valid, Ownership Validated, accepted

#1414 Publish CVE-2018-15780
  2018/15xxx/CVE-2018-15780.json
Labels: JSON Valid, Ownership Validated, accepted

#1420 VU#741315
  2018/5xxx/CVE-2018-5410.json
Labels: JSON Valid, Ownership Validated, accepted

#1421 Ibm20190108 104657
  2018/1xxx/CVE-2018-1918.json
  2018/1xxx/CVE-2018-1932.json
  2018/1xxx/CVE-2018-1993.json
Labels: accepted

#1422 Update CVE-2019-3581.json
  2019/3xxx/CVE-2019-3581.json
Labels: JSON Valid, Ownership Validated, accepted

#1424 Adding Cisco CVE-2018-0282
  2018/0xxx/CVE-2018-0282.json
Labels: JSON Valid, Ownership Validated, accepted

#1425 Adding Cisco CVE-2018-0449
  2018/0xxx/CVE-2018-0449.json
Labels: JSON Valid, Ownership Validated, accepted

#1426 Adding Cisco CVE-2018-0461
  2018/0xxx/CVE-2018-0461.json
Labels: JSON Valid, Ownership Validated, accepted

#1427 Adding Cisco CVE-2018-0474
  2018/0xxx/CVE-2018-0474.json
Labels: JSON Valid, Ownership Validated, accepted

#1428 Adding Cisco CVE-2018-0482
  2018/0xxx/CVE-2018-0482.json
Labels: JSON Valid, Ownership Validated, accepted

#1429 Adding Cisco CVE-2018-0483
  2018/0xxx/CVE-2018-0483.json
Labels: JSON Valid, Ownership Validated, accepted

#1430 Adding Cisco CVE-2018-0484
  2018/0xxx/CVE-2018-0484.json
Labels: JSON Valid, Ownership Validated, accepted

#1432 Adding Cisco CVE-2018-15453
  2018/15xxx/CVE-2018-15453.json
Labels: JSON Valid, Ownership Validated, accepted

#1433 Adding Cisco CVE-2018-15456
  2018/15xxx/CVE-2018-15456.json
Labels: JSON Valid, Ownership Validated, accepted

#1434 Adding Cisco CVE-2018-15457
  2018/15xxx/CVE-2018-15457.json
Labels: JSON Valid, Ownership Validated, accepted

#1435 Adding Cisco CVE-2018-15458
  2018/15xxx/CVE-2018-15458.json
Labels: JSON Valid, Ownership Validated, accepted

#1436 https://github.com/distributedweaknessfiling/cvelist/pull/23/files
  2017/1002xxx/CVE-2017-1002152.json
  2017/1002xxx/CVE-2017-1002157.json
Labels: JSON Valid, Ownership Validated, accepted

#1437 CVE-2018-5403, CVE-2018-5412, CVE-2018-5413
  2018/5xxx/CVE-2018-5403.json
  2018/5xxx/CVE-2018-5412.json
  2018/5xxx/CVE-2018-5413.json
Labels: JSON Valid, Ownership Validated, accepted

#1438 Adding Cisco CVE-2018-15460
  2018/15xxx/CVE-2018-15460.json
Labels: JSON Valid, Ownership Validated, accepted

#1439 Adding Cisco CVE-2018-15461
  2018/15xxx/CVE-2018-15461.json
Labels: JSON Valid, Ownership Validated, accepted

#1442 Adding Cisco CVE-2018-15466
  2018/15xxx/CVE-2018-15466.json
Labels: JSON Valid, Ownership Validated, accepted

#1443 Adding Cisco CVE-2018-15467
  2018/15xxx/CVE-2018-15467.json
Labels: JSON Valid, Ownership Validated, accepted

#1445 CVE-2018-16864
  2018/16xxx/CVE-2018-16864.json
Labels: JSON Valid, Ownership Validated

#1446 CVE-2018-16865
  2018/16xxx/CVE-2018-16865.json
Labels: JSON Valid, Ownership Validated, accepted

#1447 Publish CVE-2019-3803
  2019/3xxx/CVE-2019-3803.json
Labels: JSON Valid, Ownership Validated, accepted

#1449 CVE-2018-16887
  2018/16xxx/CVE-2018-16887.json
Labels: JSON Valid, Ownership Validated, accepted

#1450 CVE-2018-16888
  2018/16xxx/CVE-2018-16888.json
Labels: JSON Valid, Ownership Validated

#1451 CVE-2019-3811
  2019/3xxx/CVE-2019-3811.json
Labels: JSON Valid, Ownership Validated, accepted

#1453 Ibm20190114 83415
  2018/1xxx/CVE-2018-1956.json
  2018/1xxx/CVE-2018-1967.json
  2018/1xxx/CVE-2018-1969.json
Labels: accepted

#1452 CVE-2018-16886
  2018/16xxx/CVE-2018-16886.json
Labels: JSON Valid, Ownership Validated, accepted

#1454 Update CVE-2017-6925
  2017/6xxx/CVE-2017-6925.json
Labels: JSON Valid, Ownership Validated, accepted

#1431 Adding Cisco CVE-2018-15440
  2018/15xxx/CVE-2018-15440.json
Labels: JSON Valid, Ownership Validated, accepted

#1459 Update CVE-2017-6924.json
  2017/6xxx/CVE-2017-6924.json
Labels: JSON Valid, Ownership Validated, accepted

#1440 Adding Cisco CVE-2018-15463
  2018/15xxx/CVE-2018-15463.json
Labels: JSON Valid, Ownership Validated, accepted

#1461 Update CVE-2017-6921.json
  2017/6xxx/CVE-2017-6921.json
Labels: JSON Valid, Ownership Validated, accepted

#1466 Multiple vulnerabilities with TIBCO Spotfire Server.
  2018/18xxx/CVE-2018-18812.json
  2018/18xxx/CVE-2018-18813.json
  2018/18xxx/CVE-2018-18814.json
Labels: JSON Valid, Ownership Validated, accepted

#1471 Ibm20190118 104822
  2018/2xxx/CVE-2018-2019.json
Labels: accepted

#1468 add CVE-2018-20233
  2018/20xxx/CVE-2018-20233.json
Labels: JSON Valid, Ownership Validated

#1470 Publish CVE-2018-15784,CVE-2019-3772,3773,3774
  2018/15xxx/CVE-2018-15784.json
  2019/3xxx/CVE-2019-3772.json
  2019/3xxx/CVE-2019-3773.json
  2019/3xxx/CVE-2019-3774.json
Labels: JSON Valid, Ownership Validated, accepted

#1469 Qualcomm_1-17-2019 CVE publish
  2017/18xxx/CVE-2017-18160.json
  2017/18xxx/CVE-2017-18331.json
  2017/18xxx/CVE-2017-18332.json
  2017/8xxx/CVE-2017-8276.json
  2018/11xxx/CVE-2018-11279.json
  2018/11xxx/CVE-2018-11284.json
  2018/11xxx/CVE-2018-11288.json
  2018/11xxx/CVE-2018-11993.json
  2018/11xxx/CVE-2018-11998.json
  2018/11xxx/CVE-2018-11999.json
  2018/3xxx/CVE-2018-3595.json
  2018/5xxx/CVE-2018-5867.json
  2018/5xxx/CVE-2018-5868.json
  2018/5xxx/CVE-2018-5869.json
  2018/5xxx/CVE-2018-5879.json
  2018/5xxx/CVE-2018-5880.json
  2018/5xxx/CVE-2018-5881.json
  2018/5xxx/CVE-2018-5915.json
Labels: JSON Valid, Ownership Validated, accepted

#1479 Jenkins CVEs
  2019/1003xxx/CVE-2019-1003003.json
  2019/1003xxx/CVE-2019-1003004.json
Labels: JSON Valid, Ownership Validated, accepted

#1480 Update CVE-2018-13374.
  2018/13xxx/CVE-2018-13374.json
Labels: JSON Valid, Ownership Validated, accepted

#1473 Update CVE-2019-6338.json
  2019/6xxx/CVE-2019-6338.json
Labels: JSON Valid, Ownership Validated, accepted

#1474 Update CVE-2019-6339.json
  2019/6xxx/CVE-2019-6339.json
Labels: JSON Valid, Ownership Validated, accepted

#1476 Update CVE-2017-6922.json
  2017/6xxx/CVE-2017-6922.json
Labels: JSON Valid, Ownership Validated, accepted

#1477 Update CVE-2017-6923.json
  2017/6xxx/CVE-2017-6923.json
Labels: JSON Valid, Ownership Validated, accepted

#1481 First publishing of CVE-2019-3587
  2019/3xxx/CVE-2019-3587.json
Labels: JSON Valid, Ownership Validated, accepted

#1482 First publish of CVE-2019-3854
  2019/3xxx/CVE-2019-3584.json
Labels: JSON Valid, Ownership Validated, accepted

#1486 Ibm20190123 95647
  2018/1xxx/CVE-2018-1751.json
  2018/2xxx/CVE-2018-2026.json
Labels: JSON Valid, Ownership Validated, accepted

#1483 Initial publication of CVE-2018-15614
  2018/15xxx/CVE-2018-15614.json
Labels: JSON Valid, Ownership Validated, accepted

#1495 Adding Cisco CVE-2018-0187
  2018/0xxx/CVE-2018-0187.json
Labels: JSON Valid, Ownership Validated, accepted

#1484 a jenkins entry I missed
  2018/1000xxx/CVE-2018-1000997.json
Labels: JSON Valid, Ownership Validated, accepted

#1497 Adding Cisco CVE-2018-15459
  2018/15xxx/CVE-2018-15459.json
Labels: JSON Valid, Ownership Validated, accepted

#1498 Adding Cisco CVE-2019-1636
  2019/1xxx/CVE-2019-1636.json
Labels: JSON Valid, Ownership Validated, accepted

#1499 Adding Cisco CVE-2019-1637
  2019/1xxx/CVE-2019-1637.json
Labels: JSON Valid, Ownership Validated, accepted

#1500 Adding Cisco CVE-2019-1638
  2019/1xxx/CVE-2019-1638.json
Labels: JSON Valid, Ownership Validated, accepted

#1502 Adding Cisco CVE-2019-1640
  2019/1xxx/CVE-2019-1640.json
Labels: JSON Valid, Ownership Validated, accepted

#1503 Adding Cisco CVE-2019-1641
  2019/1xxx/CVE-2019-1641.json
Labels: JSON Valid, Ownership Validated, accepted

#1504 Adding Cisco CVE-2019-1642
  2019/1xxx/CVE-2019-1642.json
Labels: JSON Valid, Ownership Validated, accepted

#1505 Adding Cisco CVE-2019-1643
  2019/1xxx/CVE-2019-1643.json
Labels: JSON Valid, Ownership Validated, accepted

#1506 Adding Cisco CVE-2019-1644
  2019/1xxx/CVE-2019-1644.json
Labels: JSON Valid, Ownership Validated, accepted

#1521 Adding Cisco CVE-2019-1645
  2019/1xxx/CVE-2019-1645.json
Labels: JSON Valid, Ownership Validated, accepted

#1523 Adding Cisco CVE-2019-1647
  2019/1xxx/CVE-2019-1647.json
Labels: JSON Valid, Ownership Validated, accepted

#1524 Adding Cisco CVE-2019-1648
  2019/1xxx/CVE-2019-1648.json
Labels: JSON Valid, Ownership Validated, accepted

#1525 Adding Cisco CVE-2019-1650
  2019/1xxx/CVE-2019-1650.json
Labels: JSON Valid, Ownership Validated, accepted

#1526 Adding Cisco CVE-2019-1651
  2019/1xxx/CVE-2019-1651.json
Labels: JSON Valid, Ownership Validated, accepted

#1527 Adding Cisco CVE-2019-1652
  2019/1xxx/CVE-2019-1652.json
Labels: JSON Valid, Ownership Validated, accepted

#1528 Adding Cisco CVE-2019-1653
  2019/1xxx/CVE-2019-1653.json
Labels: JSON Valid, Ownership Validated, accepted

#1529 Adding Cisco CVE-2019-1655
  2019/1xxx/CVE-2019-1655.json
Labels: JSON Valid, Ownership Validated, accepted

#1531 Adding Cisco CVE-2019-1657
  2019/1xxx/CVE-2019-1657.json
Labels: JSON Valid, Ownership Validated, accepted

#1532 Adding Cisco CVE-2019-1658
  2019/1xxx/CVE-2019-1658.json
Labels: JSON Valid, Ownership Validated, accepted

#1533 Adding Cisco CVE-2019-1668
  2019/1xxx/CVE-2019-1668.json
Labels: JSON Valid, Ownership Validated, accepted

#1534 Adding Cisco CVE-2019-1669
  2019/1xxx/CVE-2019-1669.json
Labels: JSON Valid, Ownership Validated, accepted

#1535 Ibm20190124 10513
  2018/1xxx/CVE-2018-1959.json
Labels: JSON Valid, Ownership Validated, accepted

#1537 CVE-2018-16881
  2018/16xxx/CVE-2018-16881.json
Labels: JSON Valid, Ownership Validated, accepted

#1538 CVE-2019-3819
  2019/3xxx/CVE-2019-3819.json
Labels: JSON Valid, Ownership Validated, accepted

#1539 CVE-2018-16889
  2018/16xxx/CVE-2018-16889.json
Labels: JSON Valid, Ownership Validated, accepted

#1540 CVE-2018-10910
  2018/10xxx/CVE-2018-10910.json
Labels: JSON Valid, Ownership Validated, accepted

#1541 CVE-2019-3815
  2019/3xxx/CVE-2019-3815.json
Labels: JSON Valid, Ownership Validated, accepted

#1542 Publish request - 3593
  2019/3xxx/CVE-2019-3593.json
Labels: JSON Valid, Ownership Validated, accepted

#1546 Ibm20190129 10142
  2018/1xxx/CVE-2018-1668.json
  2018/1xxx/CVE-2018-1733.json
  2018/1xxx/CVE-2018-1976.json
Labels: JSON Valid, Ownership Validated, accepted

#1543 CVE-2018-16880
  2018/16xxx/CVE-2018-16880.json
Labels: JSON Valid, Ownership Validated, accepted

#1544 CVE-2019-3806
  2019/3xxx/CVE-2019-3806.json
Labels: JSON Valid, Ownership Validated, accepted

#1545 CVE-2019-3807
  2019/3xxx/CVE-2019-3807.json
Labels: JSON Valid, Ownership Validated, accepted

#1549 CVE-2018-12548
  2018/12xxx/CVE-2018-12548.json
Labels: JSON Valid, Ownership Validated, accepted
